[2022-02-01 20:41] Richard-L opened #383 "Add fade effect upon gym completion"
@Richard-L can you split adding a fade effect to the gym level end into a separate issue?

_Originally posted by @rr- in https://github.com/rr-/Tomb1Main/issues/379#issuecomment-1026332914_

[2022-02-01 20:58] Richard-L commented on #379
I looked into this a bit more, and the fade does actually animate over the ring menu whilst you're in a level already. TR1M has pretty much nailed this behaviour now to the point where it's indistinguishable from console (second half of [first video](https://user-images.githubusercontent.com/4934209/150340539-d891aec9-fdd5-4be2-a43f-cd1d9f9787d7.mp4) in #333).

The main menu ring menu is a bit of

[2022-02-01 21:43] #380 closed

[2022-02-01 21:49] Richard-L opened #384 "Feature: allow PS1 FMV native asset playback"
Allow me to capture this in an issue. We'd talked about it on Discord once before. It would be lovely if the `.FMV` files from the PS1 discs could be used by TR1M. They are the highest quality source for them we have.

You can download them from XProger's files: http://xproger.info/projects/OpenLara/files/TR1_data.7z

[2022-02-01 22:25] rr- commented on #384
Oh, aren't they working already? Provided you change the paths to the movies in the gameflow file, that is.

[2022-02-01 22:36] Richard-L opened #385 "Feature: Game completion stats screen"
Whilst I'm a bit wary not to post too many feature requests too soon, this one we had briefly touched upon in #356, so I'd hope it helps to keep things discreetely apart.

TR1 very sadly misses a final game stats screen. Strangely this was added only from TR2 onwards.

TR2 (PC) example:
![image](https://user-images.githubusercontent.com/4934209/152059213-771be81d-b8a8-4b4a-8ee4-c8cdcce4a23f.png)

[2022-02-01 22:38] rr- commented on #385
Sadly not possible until #322 something that I have absolutely zero capacity to work on for at least several weeks.

[2022-02-01 22:44] Richard-L commented on #384
Oh sorry I wasn't aware. Edited the JSON and they work perfectly. Only curiosity is that `core.avi` is called `corelogo.fmv` in the PS1 asset, so that was an additional small hiccup.

Perhaps then should we rename this (or make a new issue) for deriving the "fall back" procedure of TR1M's FMV choice based on what it finds in `\FMV`?

I would suggest: **PS1 `.FMV` > PC `.RPL` > Custom**
^ where bey

[2022-02-01 22:48] Richard-L commented on #385
No need to even excuse yourself rr. Thanks for being around, anyway.

[2022-02-01 23:03] rr- commented on #384
Yeah unfortunately we can't detect corelogo.fmv, the autodetection system only works with file extensions.
I'm not sure how to make it work reliably. Maybe a list of files instead of a single file to try in order of importance?
Wouldn't it be bloatware though?

[2022-02-01 23:06] Richard-L commented on #352
The same bug is true in the PS1 version. Video featuring some sweet switch pulling fail :)
https://user-images.githubusercontent.com/4934209/152066392-fef65da9-ab9c-4934-8582-0e97cbb5c0eb.mp4

Could it be they intentionally hid the door opening to make it harder? Would be interesting to know if the PHD contains any info.

[2022-02-02 00:57] rr- commented on #382
I think we could augment `loop_cine` and `play_fmv` by adding a new `subtitles` key that holds an array of subtitle text and timing information.

[2022-02-02 01:09] rr- opened #386 "Feature: Unicode support"
:D

[2022-02-02 06:36] oziphantom commented on #386
with a bitmap font?... nah

[2022-02-02 09:05] rr- commented on #386
Yes, with a bitmap font
ビットマップ フォント even

[2022-02-02 09:20] Richard-L commented on #386
I love it. I would think we can use OpenLara's bitmap glyphs perhaps? Should I ask?

[2022-02-02 09:36] rr- commented on #386
I don't think OpenLara uses bitmaps that are readily reusable?

https://github.com/XProger/OpenLara/blob/a4eac0afa15bf11c1c62544cd62f50f277fa2a6c/src/lang/glyph_gr.h

[2022-02-02 09:42] Rapora9 opened #388 "Feature Request: Add death count to level statistics"
Would it be possible to add player death count to the level statistics? I think it would be interesting to see this information.

I'm not sure if this should be added to #362 or be its own.

[2022-02-02 10:01] rr- commented on #388
I think this can be a separate ticket.

[2022-02-02 10:50] atombraiderfan commented on #352
The other switch in the gold maze also have a brief camera position shown for a split second before we see the door opening.

https://user-images.githubusercontent.com/94776985/152138852-e007950b-64de-45ec-b8e1-b1cf77aa6125.mp4

Screenshot:

![1](https://user-images.githubusercontent.com/94776985/152138933-d5700a7c-2d4f-43ef-b88d-3359d04648a4.png)

[2022-02-02 11:26] Richard-L commented on #388
Interesting idea. Would you want to include the total death counts up to the position in the run? Or just have it reset per level, and include a total deaths in a potential final stats screen?

[2022-02-02 11:38] Rapora9 commented on #388
Hmm, both have their plus sides. Originally I thought that it would reset every level. But maybe it would be better to keep counting between levels? I don't really know. "Deaths per level / total: x/y" would have both but be messy.

[2022-02-02 11:58] Richard-L commented on #386
Ah, maybe I misassumed. Was thinking of these:
https://github.com/XProger/OpenLara/blob/master/src/lang/glyph_ru.png
https://raw.githubusercontent.com/XProger/OpenLara/master/src/lang/glyph_ja.bmp
https://raw.githubusercontent.com/XProger/OpenLara/master/src/lang/glyph_gr.bmp

[2022-02-02 12:10] rr- commented on #388
I would reset it between levels and sum all of it (requires #277) in the endgame screen to be consistent with pickups and kills.

[2022-02-02 12:13] Richard-L commented on #388
Agree with both of you. Both are interesting, but to have permanently would be a bit too much. So to just include in the end screen seems right. Let me reference #385 thus.

[2022-02-02 12:30] Rapora9 commented on #388
The consistency is a good point, seals this for me.

[2022-02-02 13:28] Rapora9 opened #389 "Bug: memory leaks after loading levels"
I have a very big custom level. Both me and beta testers have experienced this issue: After loading save files a lot, at one point when trying to load (and sometimes when trying to save) the game gives an error message saying something like "could not allocate enough memory". Game crashes. After restarting the game, it can be saved and loaded as normally, but the problem might occur again after lo

[2022-02-02 14:03] Rapora9 commented on #389
I run some tests. Both in my custom level and in original TR1 (Coloseum level), the game crashed with this error message after around 40 consecutive loads.

[2022-02-02 15:08] rr- commented on #389
Can you check how many times it takes to crash on The Great Pyramid and on Tomb of Tihocan?

[2022-02-02 15:34] Rapora9 commented on #389
Tomb of Tihocan:
- beginning: 34
- ending (after killing Pierre): 35

The Great Pyramid:
- beginning: 34
- ending (after killing Natla): 34

Note: these doesn't include the initial load from the title, and a save I do right after that initial load. Also, I have not tested any of these more than once so the amount of loads needed may vary.

[2022-02-02 19:51] walkawayy opened #390 "Broken Lara pose at the end of custscene 1"
When the stats screen is displayed:

![20220202_145030_Cut_Scene_1](https://user-images.githubusercontent.com/81546780/152226538-df5afc72-2aa0-4e39-8ac0-5556a81499d3.jpg)

[2022-02-02 20:47] rr- commented on #390
This is regression from 2.5 and is related to my refactor of cinematic loop. The last frame probably reads garbage animation data.

[2022-02-03 00:49] rr- commented on #277
I'll also add gzip compression cause BSON will cause add lots of duplicate keys. Uncompressed data can go up to 100k from my very pessimistic calculations, but gzip should shred it.

[2022-02-03 08:15] atombraiderfan commented on #390
The same thing happens in the Greece ending cutscene:

![20220203_081005_Cut_Scene_2](https://user-images.githubusercontent.com/94776985/152305174-c0fd0e15-69b3-49eb-972b-2c5945d73e68.jpg)

[2022-02-03 10:51] rr- commented on #389
I can't find any memory leak related to save & load. @Rapora9 are you on 2.5? We had fixed a big memory leak related to samples in 2.5.

[2022-02-03 10:58] rr- commented on #389
Never mind, I found some, I was analyzing bad data :sweat_smile: We'll fix this in the coming release. Thanks for reporting.

[2022-02-03 10:58] Rapora9 commented on #389
Yes, all these tests were made on 2.5 (and this issue existed in 2.4 too). Maybe someone else should confirm this happens for them too. It shouldn't take more than a couple of minutes holding F6 (load hotkey) and hitting enter to load ~40 times in a row.

[2022-02-03 10:58] Rapora9 commented on #389
Very cool.

[2022-02-03 11:08] rr- commented on #389
Actually scratch that, I was analyzing memory when the game was still running (and was wondering why it's unfreed…). After saving and loading a couple of times, and then exiting the game via passport, the script showed no leaks.
Damn.

[2022-02-03 11:22] rr- commented on #389
OK, we're still leaking memory, but in the ffmpeg memory allocators which do not use our logging facilities.

[2022-02-03 11:24] Rapora9 commented on #389
I have no idea what that means 😅 But hopefully it leads to the solution.

[2022-02-03 13:12] Rapora9 commented on #352
This (the upper one) is how it looks like if camera has 1 second timer (in custom levels made with Tomb Editor). It doesn't last 1 second but just a flashing moment. Assuming this works the same way in original TR1, my guess is that the devs just put a wrong number for the camera timer.

[2022-02-03 16:18] #390 closed

[2022-02-03 19:34] Rapora9 opened #393 "Bug: game crashes if level_stats is called after play_fmv"
Since there isn't any instance like that in original TR1, this only affects custom levels. In the gameflow file, if level_stats are called after play_fmv, the game crashes. This worked fine in 2.4. Might be because of the new fade effect?

[2022-02-03 19:46] Rapora9 commented on #393
Just adding information: calling level_stats after display_picture works just fine.

[2022-02-03 20:14] rr- commented on #389
[Tomb1Main-2.5-9-geffb15e.zip](https://github.com/rr-/Tomb1Main/files/7997864/Tomb1Main-2.5-9-geffb15e.zip)

@Rapora9 could you please see if the following test build fixes the issue for you?

[2022-02-03 20:45] Rapora9 commented on #389
I tested this both on my own level and TR1. Results:

**2.5**
- custom level: crash after 33 loads
- TR1: crash after 33 loads

**test build**
- custom level: no crash after 100 loads
- TR1: no crash after 100 loads

So I'd say it's working. (Note: I only replaced the exe with the new one, nothing else)

[2022-02-03 21:16] rr- commented on #379
@walkawayy do you happen to remember how we can test whether we're in the double-FPS inventory or single-FPS game menu?

[2022-02-03 21:18] walkawayy commented on #379
I honestly am not sure what you mean.

[2022-02-03 21:22] #389 closed

[2022-02-03 21:27] rr- commented on #379
Inventory runs its logic at 60 FPS AFAIR.

[2022-02-03 21:46] Richard-L commented on #379
Whilst I don't know myself, I would believe this to be true, since Saturn has 60fps inventory natively (a yet to be posted feature request :innocent: )

[2022-02-04 01:15] rr- commented on #277
Some simulations of the compressed data:

[code]

I believe this should be even lower for real world scenario.

Coincidentally compressing a normal JSON yields only 1 KB worse results.

[2022-02-04 01:21] rr- opened #396 "OG bug: Pierre's dropped items disappear after reload"
Food for thought for #277
I'm surprised nobody reported this earlier.

Applies to all dynamically spawned items.

[2022-02-04 01:23] walkawayy commented on #396
Hm. It seems like the game tried to do something for that and maybe it's just broken in `savegame.c`
[code]

[2022-02-05 00:14] #379 closed

[2022-02-05 00:15] #393 closed

[2022-02-05 01:21] rr- commented on #396
Don't tackle this yet @walkawayy I'll be doing heavy refactors to the savegame system and we'll end up having tons of conflicts otherwise.

[2022-02-05 10:51] atombraiderfan commented on #382
I understand the team have bigger fish to fry atm, but thank you guys for hearing me out :)

I thought it might be a good idea to add links to fan-made transcripts in case the team would like them for reference in the future.

- [Core Design Tribute Fan Site](https://core-design.com/goodies_tr1_transcripts.html):  Transcript for cutscenes/FMVs/dialogues (baddies only).
- [Stella's Tomb Raider Site

[2022-02-05 21:39] Richard-L commented on #87
Should UB saves go into a folder named as such, so **savesUB**, instead of **savesGold**? The whole "Gold" thing was mainly a marketing concern to re-retail the game from what I understand. Speedrun.com also name their page "trub" https://www.speedrun.com/trub, also this isn't very consistent.

[2022-02-05 22:50] walkawayy opened #399 "Bug: title music and sounds resume after demo plays"
If you minimize the game on the main menu, the demo mode will play due to inactivity. After demo mode ends, the game goes back to the main menu screen but music will play even if the game is still minimized. The game will then go into demo mode and all sounds will play while still minimized.

[2022-02-05 23:35] #399 closed

[2022-02-06 00:21] rr- commented on #312
@Storm3000 does 2.5 version solve the performance issue for you? Note that you'll need to switch the vsync settings manually.

[2022-02-06 10:22] #250 closed

[2022-02-06 20:39] #362 closed

[2022-02-06 22:14] Richard-L opened #405 "Odd texture at end of Atlantis cutscene"
Just noticed this odd texture on the ground.

![20220206_231229_Cut_Scene_4](https://user-images.githubusercontent.com/4934209/152703676-3cc16107-16ad-4351-9aef-fb8188603c0e.png)

This was when running Tomb1Main-2.5-35-g7286bde

Has to do with the fog setting going too far in TR1M?

[2022-02-06 22:51] rr- opened #406 "OG Bug: bad weapon replacements"
Steps to reproduce:

1. Walk towards a gun pickup (such as the shotgun in the Lost Valley)
2. Save in slot 1. The gun is on the floor.
3. Pick it up
4. Save in slot 2
5. Load slot 2
6. Load slot 1. The gun is gone, instead it gets replaced with ammo.

The reason for this is because of the following chain of function calls:
1. `StartGame()`
2. `InitialiseLevel()`
3. `InitialiseLara()`
4. `Initialis

[2022-02-06 22:53] rr- commented on #405
Yeah, I think it's an OG bug that we don't normally see.

Can someone establish what would be just the right amount of fog to disable this effect?

Reminder that we can set the fog level on a per-level basis in the `draw_distance_fade` key.

[2022-02-06 23:12] Richard-L commented on #405
Okay I played around with "draw_distance_max" and "draw_distance_fade", and yet weirder things seem to happen.
![20220207_000942_Cut_Scene_4](https://user-images.githubusercontent.com/4934209/152705499-f572dec2-3410-4db8-88ec-b99d7892ca94.png)
![20220207_000945_Cut_Scene_4](https://user-images.githubusercontent.com/4934209/152705502-c2317622-4e17-40ed-8585-53f25d4d6d5a.png)
![20220207_000945_Cut_S

[2022-02-07 00:05] rr- commented on #405
Interesting.

At first I was inclined to think we're not clearing the backbuffer, but that is not the case, `GFX_Context_SwapBuffers` does `glClear(GL_COLOR_BUFFER_BIT | GL_DEPTH_BUFFER_BIT)` like it should. Plus it would manifest in a different way, more like Thames Wharf in Tomb Raider 3, or old Windows Solitaire games, where moving things around would leave visual "ghosts".

My other hypothesis

[2022-02-07 15:28] #277 closed

[2022-02-07 18:25] rr- commented on #396
It's now free to take, as we merged the big stuff in. It'd be nice to include in 2.6 but I have no clue what might be the reason why it's not working hence I haven't added it.

[2022-02-07 22:14] #406 closed

[2022-02-07 22:15] #87 closed

[2022-02-07 22:46] rr- commented on #405
Alright the FMV is always rendered whenever we reach the max draw distance. (?)

[2022-02-07 22:57] rr- opened #410 "T1M bug: staying on the passport for too long starts demo"
Opening the passport should block the demo timer, but it doesn't, and upon loading the game, it starts to play the demo.

I'm not sure if this is present on 2.5.

[2022-02-07 23:08] rr- commented on #410
@Richard-L could you please check which version breaks this? I'm pretty sure this is our bug, not OG's.

[2022-02-08 05:02] walkawayy commented on #396
One option for why it was bugged:
I couldn't figure out how to correctly get the legacy save system to save and load to see why it's broken in the OG game (the requestor was legacy but saving didn't work). The OG game saves flags like this:
[code]
while the new system saves variables like `gravity_status` separately. So that's  The flags were saved wrong somehow.

The second reason it could be bug

[2022-02-08 09:35] #212 closed

[2022-02-08 09:35] #405 closed

[2022-02-08 09:35] #410 closed

[2022-02-08 09:49] rr- commented on #396
@walkawayy could you test this only with the new saves? It seems to be working fine for me.

Also to get the legacy system to save and disable BSON, you can fiddle with `allow_save` and `allow_load` in the `static const SAVEGAME_STRATEGY m_Strategies[]` array.

[2022-02-08 11:38] Richard-L commented on #410
@rr- I see this is already closed, so no more testing? I'm trying to make time at night after work to help, but it means I'm not always quick enough :pray:

[2022-02-08 11:40] Richard-L commented on #384
I'm not sure I follow. What would be bloatware?

I'm going to link #402 here since this is about "asset choice".

[2022-02-08 12:11] rr- commented on #410
Yeah, let's not waste our resources on this, I'm fairly confident this was a regression from 2.1 :)

[2022-02-08 12:12] rr- commented on #384
Hardcoding a list of different filenames to try in the gameflow file instead of just going through a list of universal file extensions. IMO that's a [feature creep](https://en.wikipedia.org/wiki/Feature_creep)

[2022-02-08 14:24] walkawayy commented on #396
I'll clean out my old and new saves, and move them to a backup folder to make sure.

Also I need to do a legit play of Natla's Mines to test them I guess. Looks like the baddies have checks when loading a game to not spawn their weapon if Lara has the gun already. However, they do not have that check when dropping.

[code]

[2022-02-08 16:01] #365 closed

[2022-02-08 16:05] rr- commented on #336
@walkawayy IDK if this is a good place to ask but is there anything else we should consider before going with the release in regard to the savegames? I want to cram into 2.6 as many tickets that are related to this as possible, so that we don't have to deal with backwards compatibility for as long as we can.

[2022-02-08 16:06] rr- opened #415 "T1M bug: inconsistent order of compass stats and end of the level stats"

[2022-02-08 16:11] rr- commented on #105
I would say just use TR2 engine. I'm willing to reopen this if the TombEditor community shows interest in implementing this.

[2022-02-08 16:11] rr- commented on #197
Duplicate of #33. Closing the older ticket as this one contains more information.

[2022-02-08 16:12] #33 closed

[2022-02-08 16:17] walkawayy commented on #336
I'll open a discussion about it.

[2022-02-08 17:05] Rapora9 opened #418 "OG Bug: flame, lava and water emitters state is not saved: return to default after loading"
Related to #277.

Flame and lava emitters as well as waterfall mist fall back to their default state after loading a save.

Examples:

- player saves at the middle of the flame obstacle in Palace Midas and then loads the save: the flames turn ON immediately because they're set ON at the beginning of the level.

- player saves and loads after getting the last secret in The Great Pyramid: the flame

[2022-02-08 17:30] Rapora9 commented on #418
@Richard-L In #226 you're saying the lava particles (lava emitter in TE) in Natla's Mines work after a reload. Howevere when I test this location, the emitter is shut off after loading. Are you sure you weren't standing on these activation trigger tiles when saving the game?

![Näyttökuva (272)](https://user-images.githubusercontent.com/97730054/153042475-782f1c1c-4563-4e6d-93d6-e8e77b772fe6.png)

[2022-02-08 18:02] rr- commented on #226
Closing in favor of #418

[2022-02-08 18:02] #226 closed

[2022-02-08 18:04] walkawayy commented on #418
Is there a reason these need to be triggered like maybe saving memory usage back in 1996? Could we just always leave them on if they have triggers in the level file? Maybe I'm missing flipmap reasons or something.

[2022-02-08 18:11] Richard-L commented on #418
@Rapora9 that's hard to remember.... It is possible though. I can try to reproduce it.

@walkawayy I would definitely advise against always keeping them on. I think like you say the chance to introduce unknown problems is quite high. Also in classic TR, walking towards lava and it turning "on" was a certain scare tactic and dialogue between a player input and the level. I would not change this.

[2022-02-08 18:29] walkawayy opened #419 "Save and load current music track and timestamp"
Save off current music playing information, so that it can resume upon reload.

[2022-02-08 21:15] Richard-L commented on #419
Going to link #309 as it's related I'd think.

[2022-02-08 21:26] Richard-L commented on #384
If you were going for strict native assets you would have three FMV extensions: `.RPL`, `.FMV` and `.CPK`.

If you added transcodes by fans or GOG/Steam (as is already the case), you have `.AVI`.

Then every now and then someone will try their hand at upscales with the latest en vogue upscaler (currently "Topaz"), and you get whatever is the fashionable media container. As of the past couple of ye

[2022-02-08 21:59] rr- commented on #396
The way I see it it's working OK with the new saves and we don't actually need to do anything.

IMO the baddies are now acceptable. I can make the baddies not drop the items if Lara has the guns but that will complicate max pickups – if I added this, you'd need to go kill Baldy, have him drop the shotgun, and traverse back to the secret above the lava lake near Cowboy for max%. Annoying IMO and no

[2022-02-08 22:00] walkawayy commented on #396
I agree we can close it.

[2022-02-08 22:02] rr- commented on #384
I mean we already do the thing you suggested, we do guess extensions in order of preference. But we do not guess filenames, so if core.fmv is named corelogo.avi elsewhere, we have currently no way to detect that other than adding a list of filenames to check in order.

We won't be shipping FMVs, since they're way too large :) We can add an external download for them like we do with music though.

[2022-02-08 22:03] rr- commented on #396
https://www.youtube.com/watch?v=rW6M8D41ZWU

[2022-02-08 22:03] #396 closed

[2022-02-08 22:16] Richard-L commented on #384
All makes good sense.

Would you identify assets at hand of MD5 hashes?

[2022-02-08 22:39] Richard-L commented on #418
Just to capture on video once what @Rapora9 was saying, alluding to what I'd posted under #226:

https://user-images.githubusercontent.com/4934209/153087247-3a482a8d-4144-4b4e-9824-adb4ac85440f.mp4

- Walk on lava trigger tile to trigger lava, save
- On load, lava will show, not because this is saved, but because it gets instantly retriggered
- Move to non-trigger tile, lava is still active, save

[2022-02-08 23:01] Richard-L opened #420 "Feature: Add arrows indicating pages in inventory"
A tiny console feature missing from the PC release, but one that improves UX noticeably.

See the little grey arrows appearing next to passport page titles, indicating to the user which direction they can go:

https://user-images.githubusercontent.com/4934209/153089743-0c8aa57a-4cf9-484f-8a82-285d909a932d.mp4

In the main menu, when there is no Restart Level, you consequently just have side arrows

[2022-02-08 23:05] rr- commented on #384
If I understand correctly, I think that would be even less flexible since we'd be unable to support fanmade upscales without teaching people about MD5s.

[2022-02-08 23:18] Richard-L opened #421 "SFX Volume preference"
I've noticed as of some of the more recent builds that SFX volume seems to have a "priority" for lack of a better world.

Listen to the gunshots and wolf grunts switching from full to reduced volume in this example:

https://user-images.githubusercontent.com/4934209/153091924-1c0ac7e0-e79a-4aca-95cb-06b2faa4abea.mp4

Hadn't these always been full volume regardless of situation? :thinking: In any c

[2022-02-08 23:25] rr- commented on #419
I don't think it is TBH, #309 is about calling pause/resume in the inventory routines, this one is about devising a setpos and getpos functions and storing/restoring the current track ID.

[2022-02-08 23:27] rr- commented on #421
Uhhh… How does this even happen?

[2022-02-08 23:29] Richard-L commented on #384
Sorry I meant only for native assets, not "custom" ones, ie fan procedures.

[2022-02-08 23:45] rr- commented on #421
Is there a consistent setup to reproduce this issue?

[2022-02-08 23:52] Richard-L commented on #421
Sadly it's quite random. I can't seem to find anything. Here are a few examples:

https://user-images.githubusercontent.com/4934209/153095353-3f28b03b-803a-460b-a0de-5e509c6d8607.mp4

https://user-images.githubusercontent.com/4934209/153095355-eacb3f64-1253-4b67-b9ae-88a08ef2764b.mp4

https://user-images.githubusercontent.com/4934209/153095360-6a7113d1-e4a7-4caa-88d9-769fa8fc4f3d.mp4

https://user

[2022-02-08 23:56] walkawayy commented on #421
I've noticed this for a while but thought it was an original game bug trying to do like stereo sound lol.

[2022-02-09 00:18] rr- commented on #421
Theory: SDL thread finishes playing a sample and marks it as inactive in s/audio/sample. The sample is now free to take.
The game loop plays. Lara shoots guns. We play a new sound via Sound_Effect. It obtains the first available sample. But it happens to be the same sound that we just closed in the SDL thread. It assigns it a new slot. Now two slots point to the same sample, one that just finished

[2022-02-09 00:36] rr- commented on #421
`Sound_ClearSlotHandles` protects against the very scenario that I described above. Meh

[2022-02-09 00:47] Rapora9 commented on #253
What about the Scion in Tomb of Qualopec? There are 3 "cinematic cameras" related to it. If you look at the Scion through the first door after avoiding the boulder, you can barely see the item with the current rotation.
![cin1](https://user-images.githubusercontent.com/97730054/153100127-7f8a4393-6dfe-490a-b8f1-c0b01fa16f2c.png)

When you come from the tunnel after the 3 doors and the dart traps,

[2022-02-09 01:36] rr- commented on #421
Found it!
I'll reward myself with some sleep…

[2022-02-09 01:42] rr- commented on #127
Has anyone in the world been able to reproduce this? If not I'd suggest closing this and reopen when there are more reports.

[2022-02-09 08:00] Richard-L commented on #127
I would agree. Let's close this.

[2022-02-09 10:39] atombraiderfan commented on #253
The advantage of having the sprite before is that the scion would appear presentable from both directions.  I can see the case for having the scion facing towards the first camera position, as to appear presentable for luring thieves into the boulder trap.

Personally I'm in favour of keeping to the status quo because the second camera flips and pulls away from Lara before revealing the circular f

[2022-02-09 10:52] atombraiderfan opened #423 "Bug: Boss unhatched egg save issue (The Great Pyramid)"
If the player creates a save file as soon as The Great Pyramid level starts, and reloads, the egg of the Giant Atlantean remains unhatched.  This will be noticeable again when Lara returns to the scion room and looks out of the balcony.

![20220209_065927_The_Great_Pyramid](https://user-images.githubusercontent.com/94776985/153182598-ddafda28-0588-4fd0-99e5-6137141b5d1d.jpg)

Save file: [saveati.z

[2022-02-09 11:01] #421 closed

[2022-02-09 11:02] #336 closed

[2022-02-09 11:05] Rapora9 commented on #423
There's inconsistency in other eggs too. I tested the first eggs in Atlantis. I'm not sure  If I save after the egg is hatched but the mutant is still alive, the egg is whole after I reload. However sometimes reloading again fixes this and the egg is gone. Also if you reload after killing the mutant, the egg is gone.

[2022-02-09 11:08] Rapora9 commented on #127
Can I comment on an issue that is closed? I just wanted to say that sometimes, after using the fly cheat, currents stop working for me. This does not happen every time. Should I try to investigate more?

[2022-02-09 11:11] rr- commented on #388
Actually I don't know how to implement this.

1. Play the game, let's say my death counter loaded from the save is 3
2. Save in Vilca
3. Continue playing
4. Save in Qualopec
5. Die. Death count += 1.

Here's where the problems begin:

6. Reload in Qualopec. Does the death counter say 3 or 4? I'd say 4, which is logical.
7. But if I were to reload in Vilca instead, does the death counter say 3 or 4

[2022-02-09 11:13] rr- commented on #127
Yes please.

[2022-02-09 11:19] Rapora9 commented on #388
Maybe I'm not understanding something here... Your explanation sounds like the death count did not reset between levels even though we agreed it should reset – unless you're talking about the total sum that is shown in the final game stats screen.

So, can't the death count work similarly to how for example kill count works? It is level-specific and game session -specific, and at the end (well I d

[2022-02-09 11:25] Richard-L commented on #388
I'm also mildly confused, but it looks to me as though the question is whether you want to "go back in time" to a specific moment of the "current run", or whether you want to count total overall deaths, regardless of any state loading. Would seem like two different modes to me.

Personally I'm more in favour of the time travel approach, as we do the same with all other stats and states, no?

I do

[2022-02-09 11:27] Rapora9 commented on #388
Wait. I think I understand my misunderstanding now. Every time you die, you have to load from a save, right? Thus, the kill count would stay at 0 if it was resetted from a load.

[2022-02-09 12:03] rr- commented on #388
Exactly this!

[2022-02-09 12:30] Richard-L commented on #388
Oh that makes sense okay. Feels a bit hen and egg.

Let me try a take.

3 if you apply a "deaths per level" window, 4 if you apply a "deaths per run" window.

essentially same as above

3 deaths per level, 5 deaths in run

If you load the same Vilca savestate as in the very beginning, this would identify the run. Thus your per level deaths would be 3, but the per run death count would still be 5.

[2022-02-09 12:39] Rapora9 commented on #127
I managed to break the current both in Lost Valley and my custom level. They seem to work in a slightly different logic though so next I will try to find out how to make this consistent.

[2022-02-09 13:13] rr- commented on #388
TBH this feels like overengineering. Will people even understand the logic behind this?

[2022-02-09 13:33] Rapora9 commented on #388
Hmm. I don't see any easy way to make this happen so that it both makes sense and cannot be (easily) cheated.

Either each playthrough/run/session has an ID and every time you die in any save of this run, the death count increases.

Or then each save has somehow its own death count and every time you load the save and die, that count increases.

** **

I'm fine with dropping this feature request r

[2022-02-09 13:51] Richard-L commented on #388
I like the idea @Rapora9, but I also thought about letting this sleep perhaps in favour of whatever the devs prioritise 🙏

[2022-02-09 14:11] oziphantom commented on #388
Add options to one of the menus.
"Enable Death Count"
"Reset Death Count"

If you die, +1
If you load from "not the title screen" +1.

It is saved externally from any save files so the value persists across loads, and closing/opening the game.

[2022-02-09 14:45] Rapora9 opened #424 "Bug: Pistols are not added to the inventory after Natla's Mines if player did not pick them up"
In original game, even if you did not pick up the pistols in Natla's Mines, they are automatically added to the inventory in the beginning of Atlantis. This is an intended mechanic to make sure the player has pistols in the last two levels too. See this video of a speedrun played with tombati where the pistols are not collected but then are added to the inventory: https://www.youtube.com/watch?v=i

[2022-02-09 15:16] rr- commented on #424
Each of these are separate issues. Please edit these out of this post, you may repaste the video in each ticket. Having one ticket talk about too many things leads to miscommunication and loss of focus.

[2022-02-09 18:21] ShadowXJaw724 commented on #388
Personally I think that you could make a simple function in the code that simply adds to the death counter for every death on the file. The way i see it work is that whenever you die that value is saved to that specific file like other values such as the coordination, ammo count and such - Which would mean it is exclusively tied to the save and cannot be accessed by any of the other save files.

[2022-02-09 19:07] rr- commented on #388
So save just the death count without saving anything else? That might work.

[2022-02-09 19:29] Rapora9 commented on #127
Using fly cheat is not necessary to produce this bug so it's more "severe" since it could happen even with a normal, non-cheating gameplay. Here is a clip where I've played with cheats disabled from the start of a new game to Lost Valley. The current breaks as easily as jumping into the water and saving & loading at the moment of impact. The square I jump to may be relevant because it doesn't alwa

[2022-02-09 20:22] Richard-L commented on #127
Interesting. After seeing this, what I do notice from my initial videos is that the state loaded has Lara positioned over water (too), as I saved in the moment she started climbing up. So perhaps loading from a state where Lara is on a tile with water on it has to do with it?

[2022-02-09 21:24] Rapora9 commented on #418
@Richard-L @walkawayy I was wrong about certain traps working differently based on the type of trigger. My apologies for misinformation. I was overlooking the fact that it's actually the timer of some triggers that turn the traps off. If the timer is 0, they will stay on until deactivated by something like antipad. If the timer is 1, they deactivate as soon as Lara leaves the trigger.

All those t

[2022-02-09 21:56] Richard-L opened #427 "Bad inventory and weapon state on legacy save load"
See these max% run saves from the speedrunning community https://drive.google.com/open?id=1iXAHAB94egdlhagNu_hGMYu85hLGzyNx

Load Natla's Mines, check inventory.

TombATI:

https://user-images.githubusercontent.com/4934209/153296466-c08c19a0-d8ef-4426-a35b-31167a227df0.mp4

TR1M (54-g7b21ad9_level_stats)

https://user-images.githubusercontent.com/4934209/153296585-fcd65d0b-0efe-46c6-98bb-30d155aa3

[2022-02-09 22:03] rr- commented on #427
Save please?

[2022-02-09 22:03] Richard-L commented on #423
Just to capture this in TombATI at the beginning of Atlantis. Notice how mutant egg 2 reappears after load, but mutant egg 1 doesn't.

https://user-images.githubusercontent.com/4934209/153297684-e930a338-72cf-4253-8be0-c32db599334d.mp4

[2022-02-09 22:03] Richard-L commented on #427
See google drive link

[2022-02-09 22:23] rr- commented on #427
Natla's Mines but the save is in Atlantis? WTF?

[2022-02-09 22:37] rr- commented on #427
I have no idea how this save has even a chance of working. The flags for this level are clearly `1` which means only `available` flag, all guns are zeroed.

[code]

[2022-02-09 22:38] walkawayy opened #429 "Bug: Wrong dart calculation breaks ricochet effect"
Darts were supposed to have an effect when they hit a wall. But the effect position was incorrectly given the dart's position after it passed through the wall.

[2022-02-09 22:39] rr- commented on #427
NVM, it's that stupid "current position" special level at the end of the levels array. This holds the valid values.

[2022-02-09 23:02] #415 closed

[2022-02-09 23:03] #424 closed

[2022-02-09 23:16] #429 closed

[2022-02-09 23:17] #48 closed

[2022-02-10 22:27] Rapora9 commented on #127
Is it okay if I write this many comments...?

I mentioned this earlier but going to put it here with my own video too. In Sanctuary of the Scion, if you save&load right after using the underwater switch that is under a big statue, the current stops working:
https://user-images.githubusercontent.com/97730054/153506799-efbdb827-e5e7-409d-a5b1-86c4ce26fd8b.mp4

Despite my best efforst, I have not bee

[2022-02-11 00:31] walkawayy commented on #371
@rr- maybe marking every trigger as one shot is now possible? We already traverse them all to do calculate stats. Let me know what you think.

[2022-02-11 10:15] rr- commented on #371
I haven't thought about this. Won't this lead to regressions?

[2022-02-11 10:16] rr- opened #433 "Feature: make the Tomb of Tihocan "secret sound" be fixed to how it was intended by devs"
Discussed in https://github.com/rr-/Tomb1Main/discussions/432

[2022-02-11 17:05] walkawayy commented on #371
How so? Aren't all music triggers supposed to be played only once?

[2022-02-11 18:01] foxprite opened #435 "UX improvements"
As it's configured, it's impossible to know what "New Game+", "Japanese NG" and "Japanese NG+" represent without a bit of trial and error and/or digging around in the change log.
It also felt really odd to have 3 options dedicated to start the game with pre-activated cheats as soon as I tried to play for the first time.

Suggestion: replace the current "Controls" icon with the one used on the PS1

[2022-02-11 18:03] rr- commented on #371
Custom levels with Lara saying "I should revisit this area later" before a flip?

[2022-02-11 18:20] Richard-L commented on #435
This is quite generic and touches upon too many things at once I think. But it's relevant, which is why I'd posted #402 . The sooner we talk about that the better.

[2022-02-11 19:12] rr- commented on #435
Changing the inventory ring objects requires messing with the level data as the objects are stored in .PHD. Since we don't bundle the levels, it's easier said than done.

[2022-02-12 02:29] foxprite commented on #435
Had to take some time to get updated on everything already posted by both Richard-L's and rr- before.

The UX was definitely the thing that jumped out to me on first boot, how a few options just seemed to require some intimate knowledge of of project to understand their meaning (JP NG+ and Perspective?) while it lacked things controller configurations or the option to boot straight to the main men

[2022-02-12 08:27] Richard-L commented on #435
Agree on a lot of your points. Mainly the fact of how good this project has become, and that it's the best way to play TR1 now.

Shall we continue in the discussion I'd already opened? Feels more appropriate to me. We could then eventually source individual issues from that.

Oh and on a side note, we _are_ the more advanced users 😉

[2022-02-12 15:32] foxprite commented on #435
I will close this issue and move to Discussions for such UX improvements. No point cluttering the Issue list with it when there's a lot more things that need more 'urgent' work.

[2022-02-12 15:32] #435 closed

[2022-02-12 15:58] foxprite opened #437 "Remove T-Rex collision upon death"
T-Rex collision can make it from inconvenient to tough to traverse the game if he dies at the entrance of the small passage to the right.
Suggestion: remove T-Rex collision after it dies.

[2022-02-12 16:02] Rapora9 commented on #437
Just weighing in, if this is ever done, it should be optional.

[2022-02-13 10:17] atombraiderfan opened #438 "T1M bug: Small gap at bottom of fade on main menu"
When fading in/out on the ring menu, the fade effect have a tiny gap at the bottom of the screen.  This seems to happen when using the vanilla pcx backdrop, it doesn't happen when using the fanmade backdrop.

The screenshot below is 1920x1080 but I've wrapped a black border around it to help illustrate the issue.

![1](https://user-images.githubusercontent.com/94776985/153748462-b7017bf3-dbb5-4061

[2022-02-13 12:28] Richard-L commented on #438
Interesting. I have it too. Looks like a 1px line or so that is unaffected by the fade.

[2022-02-16 09:38] #427 closed

[2022-02-16 10:51] Richard-L commented on #371
For custom levels, could people just create two triggers in the same place, to be used up in concession of game progression?

[2022-02-16 19:50] #388 closed

[2022-02-16 21:42] Richard-L opened #439 "Weapons falsely always quipped on level start"
Guys, first off really want to congratulate you on v2.6. I absolutely love it. This has quickly become such a power project to enjoy TR1 on PC. Please be proud.

One mini thing I noticed when trying out the new build: somehow Lara will now _always_ equip her weapons on the first frame of a level start. You can immediately see it when starting a new game into Caves, or just when finishing a level a

[2022-02-16 21:46] Richard-L commented on #384
@rr- Does this issue still serve any purpose? If it's about asset allocation, I would say we discuss in #402 , or a new (smaller) discussion :wink:

[2022-02-16 22:02] #384 closed

[2022-02-16 22:03] rr- commented on #439
How did this happen despite our scrupulous testing of every single pull request?…

[2022-02-16 22:06] Richard-L commented on #439
I need builds to test :pray: :sweat_smile:

[2022-02-16 22:07] rr- commented on #439
Broken by 0ce19d1eec06a79390340aa5ff11fadb51262166. This is a third or fourth installment of this issue. I hate it.

[2022-02-16 22:11] #439 closed

[2022-02-16 22:48] walkawayy commented on #439
I swear I tested this wtf lol.

[2022-02-17 07:51] Tadexxx opened #440 "Demo Mode - does not work properly"
Hi
Release 2.6.1

Demo Mode - does not work properly

Lara doesn't shoot, she doesn't fight wolves or bears ...

Demo 2 - Lara it does not come out of the water at the waterfall ..

[2022-02-17 08:29] Richard-L commented on #440
This is related to the draw weapons code.

v2.6.1 fixed it for levels, but in the demos the problem still persists.

[2022-02-17 12:08] #440 closed

[2022-02-18 13:19] Rapora9 commented on #323
Here is another easy-to-test location where Lara goes inside the ceiling: spike room in Palace Midas.

![Näyttökuva (303)](https://user-images.githubusercontent.com/97730054/154689823-e6ba5ce8-4f15-4457-a105-9c48c3cba963.png)

If you jump so that the camera rises in that tile and goes through the ceiling too, it results in a (brief) glitchy camera angle.

![Näyttökuva (304)](https://user-images.gi

[2022-02-18 16:28] walkawayy opened #441 "Bug: broken save game after a flipmap"
Loading a saved game in St. Francis Folly after the switch flipmap breaks the save game.

https://user-images.githubusercontent.com/81546780/154721794-e7ad05f8-489e-4e4c-86d0-fbf9ea0d7f61.mp4

Here's the logfile entry:
[code]

I'm pretty sure it's because the water drains and the gator / croc changes from water to land. I bet this can also happen with the rats/voles.
[code]

Credit to rapora9 from

[2022-02-18 17:55] #441 closed

[2022-02-18 20:25] Rapora9 opened #442 "Bug: Upon death, the game crashes with an error message"
This issue was introduced in 2.6.2. It has happened 2 times for me in St. Francis Folly after I fell to death in the tall room, and once for @Richard-L in Cistern, rooms 29–32 (according to trview; the room with slopes and crocodiles  + rat at the bottom), again after falling to death.

This is the error message:

![Näyttökuva (300)](https://user-images.githubusercontent.com/97730054/154755990-678

[2022-02-18 20:28] Richard-L commented on #442
Thank you @Rapora9.

Indeed I had the same occurrence as described:
![image](https://user-images.githubusercontent.com/4934209/154756586-0ffb209b-d7c5-46d2-b87d-d5cfe1187460.png)

It happened in the very moment you expected the bone cracking sound to play and Lara dying. I haven't been able to reproduce this since, or derive steps for it. Hence I hadn't posted it yet.

[2022-02-18 20:40] Rapora9 commented on #442
Same for me which is why I was hesitant about posting this too, but maybe the error line is enough to figure out the reason for this. I will continue investigating the issue and trying to find some logic behind it.

[2022-02-18 20:48] walkawayy commented on #442
Hm so it's related to the death counter.

[code]
Maybe something weird is happening when you load a legacy save and die?

[2022-02-18 20:59] Rapora9 commented on #442
Steps to reproduce: load a legacy save -> save -> die.

No fly cheat used.

[2022-02-19 13:21] Richard-L opened #445 "Screenshot bugs during FMVs"
It looks like you can crash the game if you hit the PRINT key for a screenshot during the FMVs before the title screen. Tried both `.RPL` and `.FMV`:

![image](https://user-images.githubusercontent.com/4934209/154802438-7eee8902-29a9-469b-83be-05e61fe2a4a2.png)

Curiously during a later FMV (I tried "LIFT"), the PRINT screen will fail first but the game stays alive, and consequent PRINT hits will

[2022-02-19 21:37] rr- commented on #445
Works for me

![20220219_213339_Level_-1](https://user-images.githubusercontent.com/1045476/154819913-67521fdd-24dd-4e94-b764-f7c21f6ec5c9.jpg)
![20220219_213339_Level_-1_2](https://user-images.githubusercontent.com/1045476/154819914-cb42f88a-3051-4d99-9eb5-4cebf4ca5f8d.jpg)
![20220219_213340_Level_-1](https://user-images.githubusercontent.com/1045476/154819915-d9452ba4-21f7-4738-a9ff-1babaa54a1a5

[2022-02-19 23:29] Richard-L commented on #445
Huh, strange. Can anyone else reproduce this?

[2022-02-20 08:54] #442 closed

[2022-02-20 10:56] Rapora9 commented on #127
[level1&2.zip](https://github.com/rr-/Tomb1Main/files/8103795/level1.2.zip)
Here is 2 test levels: LEVEL1 and LEVEL2. The geometry of the levels is following:

![Näyttökuva (310)](https://user-images.githubusercontent.com/97730054/154838976-50312405-8b44-4bfd-8090-bb6a0560e5f3.png)

There are only 2 rooms: upper room and water room (which has a wall sector in the middle). In the water room, there

[2022-02-20 11:08] Rapora9 commented on #445
I tested _core_, _cafe_ and _snow_ (both avi and rpl), and screenshotting with `windows key + prt sc` (laptop) works just fine.

(Slightly offtopic: screenshotting during pictures (eidos, credits) results in a black screenshot. Should this be an issue or not?)

[2022-02-20 14:00] Richard-L commented on #445
@Rapora9 Isn't that Window's native command for screenshot taking? I meant TR1M's own function where it saves to png or jpg in the base folder.

[2022-02-20 14:56] atombraiderfan opened #447 "Option request: Please make robust level stats configurable"
Related to #362

The reason for this request is because I like the mystery of how many kills or pickups there are in levels, as opposed to knowing the total. Just wondering if this request is doable or is it more trouble than it's worth?

[2022-02-20 15:52] Rapora9 commented on #445
Hmm, I see. With that command I get a screenshot to both in the game's own folder and Window's folder too. If I only press `prt sc` during _Eidos_, _core_ or _cafe_, then there is a chance of the game crashing without an error message.

[2022-02-20 19:47] Richard-L commented on #445
Okay yeah that's the same behaviour then. PNG here too. Would be surprised if it made a difference.

[2022-02-21 07:33] atombraiderfan commented on #445
T1M also crashes for me when taking .PNG format screenshots of the edios screen and all startup FMVs.  It doesn't crash when I take screenshots in .JPG format instead.

[2022-02-21 07:49] Richard-L commented on #445
Okay so perhaps it is related to the format after all

[2022-02-21 16:52] oziphantom opened #448 "Issues with memory.c"
[code]
A function called *Memory_Dup* that does a string copy? That is a misleading name that could easily cause somebody to call it for binary data, which would end badly.
It also returns it as `void*`, which hints more that it's for binary data.
I suggest making it return `char*` and adding String to the name, so its `Memory_DupString` or `Memory_DupStr` just so it's more clear on its function.

[2022-02-21 19:39] walkawayy commented on #447
Tomb1Main.json has an option to turn them off.
[code]

Or you can not open the compass.

[2022-02-22 07:20] atombraiderfan commented on #447
There's been a misunderstanding, sorry I wasn't clear, I was referring to the stats change since 2.6 came out.

![20220222_065738_Caves](https://user-images.githubusercontent.com/94776985/155079613-5366df45-1981-48c8-8db9-fe6b4dfbbadc.jpg)

What I'm hoping for is an option to use the vanilla "x" for both kills and pickups instead of "x of y"

[2022-02-23 10:07] rr- commented on #448
Improve your communication. This post feels like a rant.

Empiric evidence says otherwise.

[code]

[code]
Applying your suggestion breaks it.
[code]

In any case, this idiom was copied from libavcodec which is well tested on many platforms and compilers. If you can convince them to use a better alternative, I may consider a patch.

Fire a pull request.

[2022-02-23 20:54] Rapora9 opened #449 "Feature request: Animate sprite sequence 193 (Plant 3)"
In Cistern and Tomb of Tihocan, there is a sprite sequence 193 called _Plant 3._ These plants are found in many water areas like here (Cistern, central pool) and here (Tomb of Tihocan, after the long slide).

![Näyttökuva (348)](https://user-images.githubusercontent.com/97730054/155405025-d1c6f045-b71b-4b6c-a261-3b8f6489050d.png)
![Näyttökuva (349)](https://user-images.githubusercontent.com/977300

[2022-02-23 21:51] Richard-L commented on #449
Another interesting find Rapora.

I'm guessing they wanted them animated but noticed it looked too overdone in-game, and then stuck with the first frame

[2022-02-25 12:48] Rapora9 opened #450 "Bug: issues with BEAR_ATTACK1 and BEAR_ATTACK2"
From now on, I will refer to BEAR_ATTACK1 as "bite" and BEAR_ATTACK2 as "pat". The bear also deals charging damage whenever it's running and touches Lara, similarly to the T-Rex and Torso.

### 1st issue: the bear stops biting.
Sometimes the bear doesn't bite anymore, but only charges against Lara. I think this is unintentional, especially since the bear never stops dealing charge damage even when

[2022-03-02 15:10] #18 closed

[2022-03-02 17:02] #222 closed

[2022-03-02 23:06] #447 closed

[2022-03-03 10:55] atombraiderfan commented on #447
I just wanted to say thank you to rr- and walkawayy for working on this feature, and also thank you for everything else because Tomb1Main is awesome.  Keep up the good work! 👍

[2022-03-04 08:10] #423 closed

[2022-03-04 14:47] wefalltomorrow commented on #347
Would be neat to have this!

[2022-03-06 16:04] #420 closed

[2022-03-06 16:26] walkawayy opened #459 "Feature: Add contextual arrows in sound options"

[2022-03-06 17:00] #448 closed

[2022-03-06 17:20] walkawayy opened #461 "Feature: Add contextual arrows in control options"

[2022-03-06 17:21] walkawayy opened #462 "Feature: Add contextual arrows in graphics options"

[2022-03-06 18:06] #459 closed

[2022-03-06 19:43] #461 closed

[2022-03-06 21:01] Richard-L opened #465 "PS1 style audio settings"
This is more so just to capture the console's audio setting behaviour in case it was ever wanted to add this. @walkawayy and I felt it was worth posting.

https://user-images.githubusercontent.com/4934209/156941985-c766dc67-bffe-4888-96ca-7bdbc2405528.mp4

^ you can see it uses gradient bars. The gradients redraw per bar width change. You can hold left or right for faster changes.

https://user-im

[2022-03-06 21:03] rr- commented on #465
To me it feels very out of place given the appearance of the ingame healthbars.

[2022-03-07 16:18] #462 closed

[2022-03-07 21:15] Maenhir opened #466 "Dynamic UI text box scaling"
UI Responsive box in menus for other languages

By translating texts available in json files into French, some of them go beyond the frames. I don't know what it is possible to do, but I submit this idea, to propose that the elements of the menus be responsive, would allow this one to adapt to all languages.

Here are some screenshots with the texts in French, and what is happening:

![1](https://

[2022-03-07 23:52] walkawayy commented on #385
@rr- is it possible to fade effect and draw text over an image or FMV? In the current state, drawing a stats screen immediately after an FMV or image in the gameflow will remove the image or FMV and draw the last in game frame again before showing the stats.

For example, calling a stat screen after the end credits goes back to the last in game frame from Great Pyramid:
![20220307_181953_The_Great

[2022-03-08 08:23] rr- commented on #385
Possible? Yes. Easy? Who knows. FMVs use separate rendering pipeline and even separate keyboard handlers.

[2022-03-08 20:56] walkawayy commented on #385
Ok. For now I want to make the background an image, so I'll look into it. Both image and FMV frame should be supported I think. If you call a stats screen after the Caves FMV, the background will be an FMV frame. But, once the level is rendered only in game frames will show as backgrounds even if you call the show stats function after an FMV.

[2022-03-08 21:33] walkawayy commented on #385
Here's what it looks like with @Richard-L 's suggested image.

![Uploading 20220308_162742_The_Great_Pyramid.jpg…]()

[2022-03-08 22:04] Richard-L commented on #385
Very nice.

I would match the menu UI so far used, ie border on both heading and container.

![image](https://user-images.githubusercontent.com/4934209/157333115-abc40e46-bbf5-43bf-ba7e-6cf54e4452e6.png)

Also somehow the yellow border colour is a slightly different tint from your screenshot to mine. Maybe just due to image compression.

[2022-03-08 22:16] Richard-L opened #467 "Glitchy sound in volume settings"
https://user-images.githubusercontent.com/4934209/157334802-04ff5d66-b2e9-4fd8-812b-214c11f58eab.mp4

Small thing: when you hold right when the volume is already maxed, it will spam the adjustment SFX. This could be changed so that once maxed or muted, you can't hit right of left anymore. A bit in line with the visual arrow indicators @walkawayy was working on recently.

[2022-03-09 07:10] atombraiderfan commented on #385
It looks faithfully done and exactly how I'd imagine Core would've done it, including Richard's suggestion.  Will this feature show basic stats if I use the 'basic stats' option? 🙏

[2022-03-09 07:27] atombraiderfan commented on #131
I wonder if using a texture pack would be the answer to this issue, but that depends on #347 getting done first.

I read [here](https://trtranslationsworld.wordpress.com/author/suikazeraider/) that the correct midas texture was found on the beta version of TR1.

[2022-03-09 10:06] aredfan opened #468 "Feature request: Adjust the music symbol position (Sound options)"
I've noticed there's been a few requests to make adjustments to the main menu recently, and I thought it might be a good idea to report this issue as well.  The tip of the music symbol is cut off when highlighted by the gold box.

![1](https://user-images.githubusercontent.com/94776985/157400415-ab2c83d8-8168-4296-8783-6c28de25e384.png)

[2022-03-09 12:24] Richard-L commented on #131
@atombraiderfan nice link! I remember SuikazeRaider telling me about the beta but I'd forgotten. The guy is such a treasure trove of classic TR knowledge, it's incredible.

I would be much happier if this was "just a fix" instead of a custom texture situation, but either way, any fix is good.

@rapora when you inspect the level, is there any indication perhaps why these textures were misaligned?

[2022-03-09 17:48] walkawayy commented on #468
The original game sizes aren't consistent. See 8 vs music symbol below. It just naturally sits higher. The issue could be solved by reworking this menu option, but ideally the symbols could be remastered and properly sized.

![image](https://user-images.githubusercontent.com/81546780/157500536-8ccd88f7-22b3-493a-9e67-384c3153baf5.png)

![image](https://user-images.githubusercontent.com/81546780/15

[2022-03-09 22:14] rr- opened #470 "Feature request: adjust the item and kill counters for unobtainable items"
There is a section in the readme that explains that the end of the level counters aren't 100% faithful due to unobtainable items or inaccessible creatures.

That's nice, but I don't think many players will read it. We can do better, which is especially important in the context of the upcoming #469.

I propose to add a delta value in the gameflow for each level, `obtainable_kills` and `obtainable_i

[2022-03-09 22:40] Richard-L commented on #470
Why do you think people should be made aware of these items? The only relevance would be for speedruns, where item counts per level established by the community would count.

[2022-03-09 22:43] Richard-L commented on #468
Sometimes these offsets are intentional. I struggle to really see it here but who knows.

While not nice, it seems the occasions of something like the note symbol above are very few. Thus is it feasible to hardcode a custom offset for them to fix this without touching the assets?

[2022-03-09 23:05] rr- commented on #470
I think you got my message backwards. My goal is to make any extra items that people cannot obtain or often even see without TRView, not appear in the game stats. Or if they need to appear, make it clear that they're not normal items.

[2022-03-09 23:23] Richard-L commented on #470
Oh so you want to actively substract those? I think that's a good idea.

But be wary that speedrunners have worked out ways to obtain quite a few of these.

[2022-03-10 07:38] atombraiderfan commented on #468
Wouldn't using a remastered set of symbols depend on Texture Packs support (#347) getting done first?  All roads lead to Rome :)

I think there should be a vanilla solution too if it's not too much hassle.

[2022-03-10 19:57] walkawayy commented on #356
Here's my credits music proposal. I think the TR Theme Alt Mix 2 works well. It's 1 of 2 unused tracks, so it's almost like a dedicated credits track. I think this feature would be good to release with the new final stats screen. And it's just a gameflow entry, so it's customizable.

https://streamable.com/e1hbzi

[2022-03-10 20:12] rr- commented on #356
I approve of this, sounds awesome and the buildup discourages from skipping the credits.

[2022-03-10 21:01] Richard-L commented on #385
Should be a fairly difficult job to extend that hah, but never underestimate people.

[2022-03-10 21:07] Richard-L commented on #356
I also love it. I have some follow up ideas on how to further capitalise on this game ending experience, but we can use separate issues/discussions for that. Super nice work @walkawayy.

But I need you to prove to me please how some tracks are unused :stuck_out_tongue:

[2022-03-10 21:45] rr- commented on #468
And #386 which probably will introduce character maps.

[2022-03-10 22:51] #356 closed

[2022-03-10 22:58] #470 closed

[2022-03-10 23:02] Richard-L opened #476 "Feature: Add fades to credit screens"
Now that thanks to #474 we have begun improving the game ending experience, and since we have also brought over the PS1 fading feature via #363, would it mean much trouble to add fades to the credit screens?

The PC versions of both TR1 and TR2 do not fade these. They're just harsh swaps like we have in TR1M too right now.

However on PS1:
TR1: https://youtu.be/ECVAdDHDssk?t=26562 (fade-in only)
T

[2022-03-10 23:19] walkawayy commented on #476
This is the last issue left before the 2.7 release I think. I still don't fully understand the fade effects, so I'm gonna defer to @rr- on this one. This change would likely have to go in `gameflow.c` for the `case GFS_DISPLAY_PICTURE:` case which means fades would happen for every picture. That might be OK but just a heads up.

[2022-03-11 08:32] rr- commented on #476
Fade effects work by adding two overlays, one below all objects (inventory translucent background underneath the inventory items) and one above all objects (black overlay above game stats etc.), and only controlling its transparency. Additionally there is a notion of _target transparency_ and _current transparency_. Animating the fade updates the current transparency to "move" towards the target t

[2022-03-11 16:17] #467 closed

[2022-03-11 17:24] walkawayy commented on #476
Makes sense but does this all also apply to images? Instead of `Draw_DrawScene` in these fade loops do I need to `Output_CopyPictureToScreen` or something?

[2022-03-11 17:44] rr- commented on #476
1. No, it's general and hopefully complete knowledge
2. Yes

In case the fade overlays do not play well with picture surfaces, please create a WIP PR and I'll help you get it to work.

[2022-03-12 00:06] Richard-L opened #479 "ALT+ENTER triggers game actions"
When you use the ALT+ENTER shortcut to toggle fullscreen/windowed mode, the game will recognise either ALT or ENTER as inputs, and do things like open the passport, skip FMVs, make Lara jump, etc. Is it possible that this isn't the case?

Generally didn't we have a discussion somewhere on the default buttons still having an effect unintentionally, even if the user has chosen different keybinds?

[2022-03-12 00:24] Richard-L commented on #465
Let's close this for now until there should be interest by someone.

[2022-03-13 09:54] rr- opened #480 "T1M bug (master): arrows breaking inventory ring"
![20220313_105333_rre](https://user-images.githubusercontent.com/1045476/158054178-0eca4007-04c3-4351-b25d-515636f911d9.png)

Regression on master.

[2022-03-13 10:00] rr- commented on #480
The symbol being replaced by a right arrow icon is the digit `8`.

[2022-03-13 10:14] rr- opened #482 "T1M bug (master): details settings show everything to be on by default"
Steps to reproduce:

- Go to the details menu
- Disable bilinear filter
- Go back to main menu
- Enter the details menu again

It shows that the bilinear filter is ON, even when the user just turned it off.

[2022-03-13 22:48] #482 closed

[2022-03-13 22:48] #480 closed

[2022-03-14 00:35] walkawayy commented on #438
Something I've noticed while investigating the fading. In `Output_DrawScreenFlatQuad` my height and width are 2559 and 1439 instead of 2560x1440. Something in `Picture_ScaleSmart` or somewhere in those calls there must be some rounding error happening.

[2022-03-14 08:29] Richard-L commented on #438
Ah, so you could reproduce the 1px line on the right we talked about yesterday?

[2022-03-15 00:31] walkawayy opened #484 "T1M bug (master): missing gameflow strings"
- [x] Graphics menu:

![image](https://user-images.githubusercontent.com/81546780/158293169-242bc18e-1835-4ec5-af2d-16bf5607b1f7.png)

- [x] Final Statistics:

![image](https://user-images.githubusercontent.com/81546780/158293201-472653ba-c5b4-4128-85ed-a87054c9ef44.png)

- [x] Deaths:

![image](https://user-images.githubusercontent.com/81546780/158293241-6a5de48c-351d-414f-bb6c-df80cac5dff0.png)

[2022-03-15 07:53] #484 closed

[2022-03-16 14:14] Richard-L opened #486 "Kill looped SFX in inventory"
I noticed this again just now and searched up the related issue for music (#309). Thought I'd separate it into its own issue, based on [this comment](https://github.com/rr-/Tomb1Main/issues/309#issuecomment-1009277547) by rr:

What are other looping SFX that aren't music tracks that could be affected by this issue? The lava particle sounds maybe? Burning fire animated sprites?

PS1

https://user-i

[2022-03-16 14:44] walkawayy commented on #486
The SFX not pausing on the pause screen was the bug that was fixed. Pausing SFX on the inventory screen would go with the option to pause music on the inventory screen. There is already an issue for that.

Waterfall splash is a visual effect that is floor triggered. #418 is already open for those effects not reappearing on a reload.

[2022-03-16 14:46] JOHN30011887 commented on #438
I just update with latest version 2.7 and noticed this same bug, the EIDOS png image has a bright line only down the right side of my screen

[2022-03-16 14:46] rr- commented on #486
So this can be closed since it's covered by other issues?

[2022-03-16 14:51] walkawayy commented on #486
I think. I'll update the music issue to mention sound effects too.

[2022-03-16 14:57] Richard-L commented on #438
@JOHN30011887 yup I notice the same now with v2.7. It looks like a 1px horizontal line at the bottom of the screen is unaffected by any fading.

@walkawayy on your previous built this had been on the right of the screen as a vertical line as we'd found.

[2022-03-16 23:08] rr- commented on #433
@walkawayy do you feel like working on it?

[2022-03-16 23:10] rr- commented on #383
@Richard-L I noticed that this animation freezes Lara. Is it OK if we replicate this effect?

[2022-03-16 23:11] rr- commented on #479
I think we did. I would pause this until we deal with #241 .

[2022-03-16 23:12] walkawayy commented on #433
@rapora9 has a solution. Not sure on the PR timing yet since Git knowledge is still a WIP.

[2022-03-16 23:12] rr- commented on #312
Closing due to lack of response.

[2022-03-16 23:12] #312 closed

[2022-03-17 00:28] #309 closed

[2022-03-17 00:30] walkawayy opened #490 "Credit music can play over title menu even if main menu music is disabled"
If `disable_music_in_menu` is set to true, the credit music can roll over to the main menu.

[2022-03-17 07:39] Richard-L commented on #383
Of course!

Actually I believe if the player jumps after Lara's last line, this cancels the automatic level ending and fade-out. As if you almost _have_ to stand still. Not sure we need that, but I can investigate some.

[2022-03-17 08:33] #438 closed

[2022-03-17 20:26] #490 closed

[2022-03-22 11:35] atombraiderfan commented on #468
I've taken a look at the DOS version, and the music symbol is in front of the gold border instead of behind.  Maybe this is how it should be?

![2](https://user-images.githubusercontent.com/94776985/159471958-b180d7c6-3804-4454-9bca-fe160104201d.jpg)

[2022-03-23 00:35] Rapora9 opened #496 "Pushable blocks on flipmap rooms break"
First reported by zry-xen in Discord.

According to my tests, this bug was introduced in 2.6 and is still present. The bug is following.

- Player saves the game when FLIPMAP is ON.
- Player loads this save.
- Player turns FLIPMAP OFF.
- Pushable blocks in rooms that flip are now broken. Lara can go through them.

An example of how to replicate the bug: save the game in Tomb of Tihocan at the very

[2022-03-23 02:00] walkawayy opened #497 "Unfinished Business gameflow missing stats strings"
UB gameflow is missing the new basic and detailed stats strings.

[2022-03-23 11:36] Rapora9 commented on #496
The tall blocks of Qualopec break too. However since they're not in a flip room, this doesn't happen in TR1. But it will happen in custom levels.

Also, if the blocks are broken and flipmaps are turned on again, the blocks seem to take double height (for example Lara stands in the air on top of a movable block, at the height of 2 blocks).

Here is a test level where you can test it out.

[LEVEL1.z

[2022-03-23 15:19] #497 closed

[2022-03-23 15:24] walkawayy opened #499 "Refactor savegames to support level select and level restart properly"
Currently, level selecting the same level as the savegame or restarting the level can carry over lost health or items from the current savegame.

A `LEVEL_END_INFO` needs to be added to go along with `LEVEL_START_INFO`, add `GFL_RESTART`, add `GF_RESTART_GAME`, etc.

See discussion in #494.

[2022-03-23 20:35] zry-xen opened #500 "Unable to pick up certain items underwater with "walk_to_items" enabled"
Found in: Tomb1Main 2.7+

Enabling walk_to_items causes an issue where some items can't be picked up underwater.

Problematic items:
- Cistern: Golden key, found beyond the door with spikes beyond that you must first fill with water;
- Obelisk of Khamoon: 1) Small medkit near the start, after moving the left-most movable block in the room ahead and diving into the far right corner of the outer poo

[2022-03-23 21:42] Richard-L commented on #197
@walkawayy I've been trying to make thoughts on your solution to the missing passport page dilemma. I understand you want to make the "save" page have two subpages, one for PC or console style loading respectively. Could you post a video of it in operation perhaps?

[2022-03-23 22:11] walkawayy commented on #500
Ok this happens if you pick up consecutive underwater pickups because in TR1, the underwater pickup animation doesn't set `g_Lara.gun_status = LGS_ARMLESS` like TR2 and beyond does.

[2022-03-23 22:16] walkawayy commented on #197
https://streamable.com/jlpv4h

[2022-03-23 22:23] walkawayy commented on #499
from rr:

Yes

Something like this:

[code]

Move `Savegame_PersistGameToStartInfo` to `Savegame_PersistGameToEndInfo`.
Delete `Savegame_PersistGameToStartInfo` because it will no longer be needed.

in `StopGame`:

[code]

In savegame.c create a function that roughly does
[code]

Refactor savegame_legacy.c to write things based on `g_GameInfo.end[].common` instead of `g_GameInfo.start[]`
Refactor

[2022-03-23 23:05] #500 closed

[2022-03-24 06:33] Richard-L commented on #197
Many thanks. This is slightly confusing at first, but at the same time it's super nice! The little arrows are totally crucial here in my opinion, as else the UX wouldn't indicate any connection between savegame and unlocked levels.

I had one thought, although it's a certain departure from the game's UI aesthetic: What about showing the two lists side by side, where the right one with the unlocked

[2022-03-27 20:47] walkawayy opened #505 "Pick up multiple items at once with walk to items enabled"
If several items are in the same spot, Lara can only get one item at a time. This is due to TR4/5 ported code. However, this functionality was added for Sarcophagus only pickups in TR4 oddly. This should probably be the default pickup behavior. Thanks to @Trxyebeep for decompiling this function.

See [TR4 Sarcophagus](https://github.com/Trxyebeep/TOMB4/blob/dev/TOMB4/game/pickup.cpp#L50) code.

[2022-04-02 20:33] rr- opened #506 "Heap corruption in GetRoomBounds"
For levels with faulty (discontinued) portals, `GetRoomBounds` can work infinitely, causing `phd_PushMatrix` to exceed the `MAX_MATRICES` limit and write all over the game memory.

The result is a nasty crash.

I think it's the same bug as with #227 . Found with Sabatu's help. Example of a problematic portal:
![unknown (1)](https://user-images.githubusercontent.com/1045476/161400291-18c6ff8d-c1d1-

[2022-04-02 20:39] rr- commented on #506
A simple solution is to check in `phd_PushMatrix` if we exceed `MAX_MATRICES`:

[code]

A better solution that would help level builders, would be to display all the room numbers that are part of the infinite call cycle in `GetRoomBounds`.

[2022-04-05 17:47] #505 closed

[2022-04-06 19:53] Richard-L opened #510 "Allow fade skipping"
Currently when the eidos logo fades up, you have to wait for the fade to finish before you can skip it with ESC or ACTION. It should allow to skip at any time though.

I suppose this affects all instances of fades?

[2022-04-07 20:30] rr- commented on #496
Thanks for the test level. I wish all of our bugs were this nicely reported :) It'll be fixed in the upcoming release.

[2022-04-07 20:31] rr- commented on #510
With pictures it's the most visible. I tackled this in #512 .

[2022-04-07 20:39] Ceelatal commented on #496
I'm glad to hear it was appreciated. Good job tackling the issue :)

[2022-04-07 22:14] #496 closed

[2022-04-08 16:33] #510 closed

[2022-04-08 17:05] walkawayy opened #513 "Move game specific logic out of s/input"
Game specific logic should be moved out of s/input. It should only deal with platform specific logic if possible.

[2022-04-08 17:16] walkawayy opened #514 "Change behavior of selected requestor for select level"
After #494 is merged, the behavior of `REQUEST_INFO` `requested` should be changed. If the user moves to the select level menu, returning back to the load game menu should still have the same savegame selected. Currently, the menu goes back to selecting the newest savegame.

[2022-04-08 17:17] #135 closed

[2022-04-11 21:25] Richard-L opened #517 "Feature: PS1 UI"
Let's make TR1M even more authentic TR1 vintage shall we. A small thing, but still puzzling why the DOS version got rid of it: the purple hover effect in the UI.

PS1:

![SLES-00024_2022-04-11_23-15-22](https://user-images.githubusercontent.com/4934209/162835555-c104ecc0-3d95-4e68-b0df-52d6db1a02aa.png)

![SLES-00024_2022-04-11_23-15-56](https://user-images.githubusercontent.com/4934209/162835491-

[2022-04-11 22:20] walkawayy commented on #109
@Richard-L could you record a video of Lara just sitting in the water on PS1? I think rr is right that the water wibble is way too fast.

[2022-04-12 16:57] Richard-L commented on #109
After some exchange with walkaway:

https://user-images.githubusercontent.com/4934209/163011979-3f86cf23-a9c5-46bd-a841-2d88f80a5de4.mp4

https://user-images.githubusercontent.com/4934209/163012570-124d54b7-85c0-4d74-92c4-841f3ad5a0df.mp4

It's easy to see the underwater effects are too fast, as @Raildex already observed.

Personally I would not make this configurable. I would set one "correct" pa

[2022-04-13 03:30] #506 closed

[2022-04-13 03:34] walkawayy commented on #227
@rr- I think this can be closed now? Thanks to #518 there's a proper error crash and exit with some log info. The original UB level file can't be fixed without changing the level file itself. There's already fixes out there that come with TombATI and a version without the added music triggers.

[2022-04-13 07:52] rr- commented on #227
I think so but it would be good to confirm if it was this bug in fact and not something else.
The offending file is posted somewhere above as END.zip.

[2022-04-13 08:01] Richard-L commented on #227
So what SuikazeRaider suggested is fixing the level file itself?

Why did this crash not occur on vanilla DOS TR1 UB?

It's a bit regrettable if the original level asset file cannot be used, but instead a fan version is mandatory. What if I don't want all the music triggers someone added?

[2022-04-13 08:09] rr- commented on #227
Is the DOS version using the same version as the PC port?
If yes and we know for sure that it doesn't crash, I would like to take a peek at how the DOS version managed that. It'll take me a while though to figure since I don't have anything mapped in the DOS version.

[2022-04-13 10:08] Richard-L commented on #227
I can do some research and try myself, but I used the asset files from 1998 (attached above somewhere iirc). Surely this crash would've been more known had it existed back then, as it's an iconic jump, and if it did crash people wouldn't have been able to complete UB.

I think the crash was introduced with TombATI.

[2022-04-13 11:20] rr- commented on #227
So are the level files identical for the DOS version or not?

[2022-04-13 11:22] Richard-L commented on #109
https://user-images.githubusercontent.com/4934209/163168741-980caca9-02f2-4e5c-b08b-29bedc991391.mp4

I tried to sync the caustics animation frame-exact between both videos, but it was a bit too much of a process. Still, I think it's very easy to see that the animation loop syncs perfectly now :thumbsup:

This solves this issue in my eyes.

However, this made me notice two things about the water s

[2022-04-13 12:04] Richard-L commented on #227
Was there ever a "pc port" other than TombATI later? I think there was only the release intended to be played under DOS, which then worked from within Win95/98 too. There were then also the numerous patches for the wild west of 3d graphic cards of the time. For UB I don't know how many exist, I would assume only the 3dfx one, but nevertheless the level asset file `END.PHD` is entirely unaffected b

[2022-04-13 14:40] walkawayy commented on #227
I'd say we would need to test on DOS to confirm this didn't crash. Maybe the OS handled the overflow differently?

Here's a thread on the crash from 2006: https://www.tombraiderforums.com/showthread.php?t=72013

I think TombATI wasn't released until 2016 based on this thread date? https://www.tombraiderforums.com/showthread.php?t=214779&highlight=tombati

[2022-04-13 14:51] walkawayy commented on #109
I think this is now correct.

https://streamable.com/91auce

[2022-04-13 15:13] Richard-L commented on #227
Hmm, that 2006 topic was helpful. It sounds as though this did actually crash on DOS. I'll see if I can bring myself to play all the way to this point on DosBox. Will check if DOS had level skip cheats. You'd think so.

In the last post of the topic someone mentioned this which is interesting:

Could be worth testing in TR1M also.

I also dug up the broken link to Stella's site that was referenced

[2022-04-13 15:14] Richard-L commented on #109
Perfect :ok_hand:

[2022-04-13 16:12] #109 closed

[2022-04-13 19:50] Richard-L commented on #227
So I forced myself to do this, thinking I was just going to kill my own issue because it'll crash on DOS, ....but what do you know:

https://user-images.githubusercontent.com/4934209/163258456-33f0d216-3fc0-4060-b803-5c66823c5bee.mp4

It's very odd. I'd like to know at what point this issue was introduced, because as walkaway found it doesn't seem entirely new to people. Yet if you play UB on DOS

[2022-04-13 19:55] rr- commented on #227
Do you have a save from that place?

[2022-04-13 19:56] Richard-L commented on #227
[SAVEUB.zip](https://github.com/rr-/Tomb1Main/files/8484303/SAVEUB.zip)

Should be this one

[2022-04-13 22:40] walkawayy commented on #227
Hm that save doesn't work with a rename to `SAVEUBA.6`. Must have a different format.

[2022-04-13 23:05] rr- commented on #227
DOS saves are not compatible with ATI and never were.

[2022-04-13 23:09] walkawayy commented on #227
I do see what SuiKaze means now. TombATI version adds a flip effect to this tile right before the jump.

![image](https://user-images.githubusercontent.com/81546780/163284098-29a4b93b-2462-4e23-80ea-2e90cbd5c58c.png)

You can see the unflipped version:
![image](https://user-images.githubusercontent.com/81546780/163284212-1a1d0f3a-f47a-4b00-9811-eaaf7449c80a.png)

Vs the flipped version which has 1

[2022-04-14 03:01] walkawayy commented on #517
Is there a way to get an accurate RGB purple color value? I have a work in progress version. Also this only applies to the passport menu. Should it apply to the other menu options too?

![image](https://user-images.githubusercontent.com/81546780/163305126-737e5853-67d2-43ca-97bc-9ba6226363bf.png)

[2022-04-14 07:36] Richard-L commented on #227
Well I mounted the UB disc and used its DOS setup from within Dosbox to install to a virtual HD, configured the soundcard like in the old days, etc.

There's no way a modified level file could come in at any moment.

Is it possible they noticed the issue themselves, and then did a hack to the TOMBUB.EXE to work around it? Because there is a dedicated exe for DOS, and iirc TombATI uses just one exe

[2022-04-14 07:47] rr- commented on #227
It is possible. But I won't be able to look at the DOS version for the foreseeable future – it's a lot of work for relatively small gains.

I think ATI is similar.

[2022-04-14 14:09] Richard-L commented on #227
Okay so I spoke with SuiKaze again, and he explained that the bug is present on DOS too, it's just super random, and the assumption has been that Lara needs to be in a specific position as she falls through the hole, in order for the bug to trigger. He sent me two saves (both for DOS and TombATI), where one is more likely to trigger the bug, and one less so. I tried 4 times in DOS of which 2 attem

[2022-04-14 14:15] oziphantom commented on #227
yeah the bug is very "magic pixel" I probably jumped about 40 times the first time trying to get the crash I posted above. You could easily have missed it in testing the game.

[2022-04-14 14:24] walkawayy commented on #227
I think there is a fixed level file without music triggers added. I saw it on TRF somewhere I think. And I'm glad we got an answer at least. Since we don't distribute the level files in this repo, there's not much we can do.

[2022-04-14 19:12] Richard-L commented on #517
Okay so what I'm eyedropping in Photoshop is **#422173** / **H:264 S:0.55 L:0.29**

![image](https://user-images.githubusercontent.com/4934209/163459897-06db9141-f375-41c3-99a5-54267318c2ae.png)

![image](https://user-images.githubusercontent.com/4934209/163459928-21ea2c30-57c7-4340-b699-5efe7deaa3f9.png)

In Select Level it looks slightly different (worse) which is odd:
![image](https://user-imag

[2022-04-14 19:19] walkawayy commented on #517
Ok thanks I'll test that color out.

Yes the Select Level effect is poorly implemented from bottom left to top right. It's weird because clearly the Load Game option existed.

[2022-04-15 11:55] rr- opened #521 "Finish naming cleanups"
I composed a list of remaining functions that need cleanup.

For the functions we tackled so far it was pretty clear where to put them. However the remaining ones give me some trouble. @walkawayy could you please offer your opinion? Maybe Choco could share her insights too.

(I know that while this task may seem pointless to some or even counterproductive, but these renames do help immensely with

[2022-04-15 12:01] rr- commented on #521
This table was made under the assumption that #520 goes through. I suggest we discuss things in increments and as soon as there is consensus about something, I create a PR and clean up the table above.

I think `Requestor` is pretty safe with however first we need to merge #520 .

[2022-04-20 21:14] walkawayy commented on #521
Box:
| File          | Current signature                                                                                                                 | Suggested file                    | Suggested name                     |
| ---           | ---                                                                                                                               | ---

[2022-04-21 20:32] Richard-L opened #522 "Lost Valley Black Mesh moment"
https://user-images.githubusercontent.com/4934209/164547445-8c51f9fc-9439-4c87-ba73-a8351a717446.mp4

Noticed this on Tomb1Main-2.7-135-ge78f308_current_only_v1 while testing. Haven't seen before.
[save_tr1_00.zip](https://github.com/rr-/Tomb1Main/files/8534884/save_tr1_00.zip)

Also for some reason the camera seems choppier with this build, but maybe that's just me.

[2022-04-21 20:39] Richard-L opened #523 "Restore Lost Valley broken bridge tiles"
TombATI/TR1M
![20220421_214939_Lost_Valley](https://user-images.githubusercontent.com/4934209/164548360-dc31720b-28f3-490a-a11d-e1ff066596f1.png)

PS1
![SLES-00024_2022-04-21_22-36-52](https://user-images.githubusercontent.com/4934209/164548447-c5870949-76bb-47f5-a025-514e8c695869.png)
![SLES-00024_2022-04-21_22-37-00](https://user-images.githubusercontent.com/4934209/164548518-dac351e5-7431-4849-

[2022-04-21 20:40] Rapora9 commented on #522
I'm pretty sure this is because of #323. See the latest comment on that issue for a similar effect.

To save you from checking the issue: Ceiling data is somehow miscalculated and Lara goes inside the ceiling a little. When the camera goes inside, the result looks like that.

To confirm, try jumping towards the ceiling there (or use the fly cheat) and see if she goes inside.

[2022-04-21 20:57] Richard-L commented on #522
Hmm I can't seem to get her to jump into the ceiling like you show in #323. Also the fly cheat cannot reproduce the effect. It only happens when you walk up that spot with weapons equipped. Without it's fine.

[2022-04-21 21:08] Rapora9 commented on #522
You were just looking from the wrong spot. Since the camera is further back, the correct tile is this

![Näyttökuva (6)](https://user-images.githubusercontent.com/97730054/164552551-93364f60-a23a-4d78-aa1b-c0fd1071a007.png)

![Näyttökuva (7)](https://user-images.githubusercontent.com/97730054/164552579-6d065829-0018-4bf2-9f51-c73f4bb622df.png)

![Näyttökuva (5)](https://user-images.githubuserconte

[2022-04-21 21:21] Richard-L commented on #522
Hmm, pretty sure I'd tried that, oh well.

[2022-04-23 14:58] atombraiderfan commented on #523
Good spot Richard, here's a picture from the DOS version that shows the bridge tiles are present.

![Capture](https://user-images.githubusercontent.com/94776985/164911307-3aa15437-ead3-46b6-a666-6731c53d383f.PNG)

Picture from this [video](https://youtu.be/EC_8ljpgySM?t=4299).

[2022-04-23 18:33] walkawayy commented on #517
Attaching a WIP version:
https://streamable.com/imepal

[2022-04-23 23:22] fluxtom commented on #170
Had a brief look into this.

Simply increasing the number of save slots is easy. There is the [MAX_SAVE_SLOTS](https://github.com/rr-/Tomb1Main/blob/db9c32c7f2fd41cb2fff1a5ba4fee7a8280267ac/src/global/const.h#L29) constant, changing this number seems to do everything (listing every save slot to that number, saving to any slot, loading from any slot). I can make a PR with this changed, not sure the

[2022-04-25 16:27] fluxtom commented on #521
Not sure if this should have an entire issue made about it, seems me to relate to this issue a bit..

[Savegame_LoadPostrocess](https://github.com/rr-/Tomb1Main/blob/db9c32c7f2fd41cb2fff1a5ba4fee7a8280267ac/src/game/savegame.c#L65) is clearly misspelt, should be `Savegame_LoadPostProcess`.

I can make an entire issue & PR if you think that is reasonable.

[2022-04-25 16:54] rr- commented on #521
Yes, go ahead @fluxtom :)

[2022-04-25 16:56] walkawayy commented on #521
I think I already fixed it in #494. It's not merged yet though.

[2022-04-25 16:58] fluxtom commented on #521
Seems to be :+1:

[2022-04-25 21:13] Richard-L opened #528 "Feature: Underwater music behaviour options"
Basically identical to TR2Main's feature, control for music tracks to behave differently if the camera is underwater:
1. Mute music (you only hear underwater SFX like Lara's swimming, or crocs attacking, etc)
2. Make half volume (or even less, I'm not sure exactly what level TR2 sets here)
3. Play at full volume (= same as if camera isn't underwater, current behaviour, PS1 behaviour)
4. Only mute

[2022-04-26 16:42] Gerwin2k commented on #327
I would like to reopen this.
With current v2.7 I have two systems that crap out:

Windows 7 x64, Core i7-930, Geforce 210 -> Official/XPmod both do not work, S_Shell_ShowFatalError Shader compilation failed
Windows 7 x64, Core i3-2310M, Intel Graphics -> Official/XPmod both do not work "Shader compilation failed"

And these systems run v2.7 fine when I change the first line of the four shader file

[2022-04-26 21:36] rr- commented on #327
We'll need to have to introduce fallback shaders.
(It's such a drag…)

[2022-04-26 22:17] Gerwin2k commented on #327
Fallback shaders - I just messed with that and got good results with the Geforce 210. But Core i3-2310M Intel Graphics hates all the 3D frag fallback shaders I made, as it shows mainly black 3D objects. Also it did not help a Radeon 9800 or Geforce 7300GT to even start the game.
[T1M-Shaders_GLSL-100-120-130-330.zip](https://github.com/rr-/Tomb1Main/files/8567149/T1M-Shaders_GLSL-100-120-130-330.z

[2022-04-26 22:27] rr- commented on #523
Does anyone know what's the cause of this and/or how to fix it?

[2022-04-27 01:48] Richard-L commented on #327
No offence but are we sure we want to support niche GPUs like that?

[2022-04-29 19:29] Rapora9 opened #532 "Adding a choice for Pierre spawning logic"
Explaining #530 .

At the moment, having multiple Pierres in a level works as you see in this video:

https://user-images.githubusercontent.com/97730054/166028955-4c923774-ac69-4324-af23-c809436a133d.mp4

Explanation: When an active runaway Pierre already exists and the player triggers a new runaway Pierre, this new Pierre will immediately be gone, while the active Pierre remains. So if the player

[2022-04-30 06:18] rr- commented on #499
@walkawayy I think this can get closed after 2. right?

[2022-04-30 06:21] rr- commented on #514
@walkawayy do you think we can get this shipped soon?

[2022-04-30 12:07] walkawayy commented on #514
Yes I should be able to work on it tomorrow.

[2022-04-30 12:07] walkawayy commented on #499
Yes.

[2022-05-01 19:51] #514 closed

[2022-05-02 21:28] walkawayy opened #535 "New Game Plus infinite ammo carries over to a loaded game"
Steps to reproduce:
1. Start NG+
2. Load normal game
3. Lara has infinite ammo for every weapon

[2022-05-02 22:51] Richard-L commented on #523
I think it might be similar to the bats? Tried to record it for you, but it's a bit camera shy. The tiles seem to glitch-appear a little when the camera moves faster. Hope this helps:

https://user-images.githubusercontent.com/4934209/166338914-d0f62f64-8199-479d-878b-ac683060c991.mp4

https://user-images.githubusercontent.com/4934209/166338993-10157ace-8dc5-4ecf-a3ed-2fa27375084f.mp4

[2022-05-04 13:41] #197 closed

[2022-05-04 13:41] #535 closed

[2022-05-04 14:10] #433 closed

[2022-05-04 23:04] Richard-L opened #536 "Blocks no longer push-/pullable on legacy saves in v2.8"
As @walkawayy had already found from someone posting on [TRF](https://www.tombraiderforums.com/showpost.php?p=8354495&postcount=271), it seems you can now no longer push or pull blocks when the loaded game stems from a legacy save.

1. Load a legacy save
2. Try to move a block

https://user-images.githubusercontent.com/4934209/166839142-fae2e449-da99-4291-847b-0a337388860e.mp4

Possible regression

[2022-05-04 23:34] walkawayy commented on #536
`Savegame_PreprocessItems` gets called in `Savegame_Legacy_NeedsBaconLaraFix` before `FlipMap`. Maybe `Savegame_LoadPostprocess` should be called at the end of `Savegame_Legacy_NeedsBaconLaraFix` but that also does stuff like `SpawnItem`. I am not totally up to date on the flipmap code.

[2022-05-05 11:05] Rapora9 commented on #532
@rr- None of the proposed Pierre code is in 2.8 yet, right?

Asking because Pierre is broken in 2.8. **If you activate him for example in St. Francis Folly and don't shoot him, he does not appear the second time in that level (as it's supposed to be in OG) BUT he also does not appear in any other level either. Only the killable Pierre appears in Tomb of Tihocan.** And if you then complete the game

[2022-05-05 13:32] rr- commented on #532
Yes.

[2022-05-05 14:09] rr- commented on #532
Let's wait for the hotfix that fixes Pierre first :)

[2022-05-05 16:26] Rapora9 opened #538 "Pierre disappears from levels"
This is a bug that apparently came with the level select feature. The full behaviour is not known yet but here are some examples:

https://user-images.githubusercontent.com/97730054/166968582-23638080-c57a-458b-92c5-f8e2ddf9dff3.mp4

- (activate Pierre in St. Francis Folly)
- (save game)
- shoot Pierre until he disappears
- go to Colosseum: Pierre is on the stands
- load the save
- Pierre is gone

[2022-05-05 18:19] walkawayy commented on #499
Closed in #494.

[2022-05-05 18:19] #499 closed

[2022-05-05 20:04] rr- commented on #536
Fixed in #537

[2022-05-05 20:04] #536 closed

[2022-05-05 20:04] rr- commented on #532
Fix published @Rapora9

[2022-05-05 22:10] walkawayy commented on #517
The PS1 version's passport menu effect is incorrect (goes from bottom left to top right, not centered). So this feature is using the Load Game style from the first post.

Broken PS1 passport version:
![image](https://user-images.githubusercontent.com/81546780/167033638-d23dcda2-74db-44a5-9056-9a1897a04d7c.png)

[2022-05-06 12:57] walkawayy commented on #532
I published a test build in Discord. I haven't got a chance to test myself yet and haven't heard back on it yet.

[2022-05-06 21:08] Richard-L opened #541 "Improve fade skipping"
Very nitpicky thing, but something you do notice after prolonged testing:

Currently the fades cannot be skipped via ESC or the action button. Take for example the initial EIDOS logo: you can only skip after fade-in, or before fade-out, but not during. It would be really nice if the skip behaviour were extended to all these three states: fade-in, image showing, fade-out.

I wonder where else this

[2022-05-06 21:12] Rapora9 commented on #532
Something is not right. In the test build Pierre always acts like the JSON setting was `true` (new Pierre remains, old disappears). It worked before.

The fix for Pierre (level select thing) is correct according to my testing, but could it somehow interact with this Pierre change?

EDIT: I am an idiot. I had the "change_pierre_spawn" commented out so it was not being read and default "true" was us

[2022-05-07 06:28] aredfan opened #542 "T1M bug: Faster passport closing animation on New Game and Save Game"
Hello, I've noticed that after selecting New Game, the passport closing animation moves faster than usual.  The video below compares the load/new game passport closing animations.

https://user-images.githubusercontent.com/94776985/167241567-ad8edebc-7a4a-4086-8844-22b19498259f.mp4

**Edit:** Can also confirm that when starting a New Game from the manor level, the passport closing animation is als

[2022-05-07 06:39] aredfan opened #543 "Feature request: Make grey arrows optional"
Hello, may I request for the grey arrows to be made optional.  As a long time pc player it's hard for me to get used to this change.

[2022-05-07 07:36] Rapora9 commented on #532
Alright, now that the user error is gone, so far everything is working as intended.

[2022-05-07 08:26] rr- commented on #541
You can skip it during but it just starts fade out sooner and doesn't immediately close.

[2022-05-07 08:27] rr- commented on #543
Personal opinion but this sounds like a feature creep to me.

[2022-05-07 11:43] Richard-L commented on #541
Yeah, that's what I meant by skipping while the image is showing. It will start the fade-out. But the fades _themselves_ you cannot interrupt with a button press.

If this is annoying to change then nvm. I just think it's good to give people control. And I'm really feeling the fades each time I fire up the game for testing :stuck_out_tongue_winking_eye:

[2022-05-07 11:50] Richard-L commented on #543
I would tend to agree with rr.

The only argument I could see in favour of it was a consideration whether 100% PC or PS1 UI appearance of the game is intended or not. Currently we have a situation with a (mostly agreed upon) best of both worlds kind of mix.

I assume the desire to make this optional might also stem from experience with TR2M, where most any small little detail like this is customis

[2022-05-08 09:44] aredfan commented on #543
Yeah I was wondering if I was nitpicking before putting in this request.  I get that T1M will include compromises or 'best of both worlds' changes.  I hope I don't come across as ungrateful but I do feel there should be a way to opt-out because grey arrows changes the previously solely golden aesthetics on the pc version.

Regardless of whether it happens, thank you for hearing me out 👍

[2022-05-08 22:03] Richard-L commented on #517
Since the discussion about this now also includes the window style of the UI, ie the gradients in the border, the heading style for "Select Level", etc, we thought it adequate to rename this issue accordingly.

[2022-05-08 22:50] Richard-L opened #545 "Feature: PS1 style "Select" and "Go Back" indicators"
I've been debating for a while whether I should post this or not, but since we've been doing so much work with #517, I felt prompted again now. It's another small thing, but in fact good UX practice that for some reason didn't make it into TombATI: To indicate to the user what directions they can take and how, at hand of the `Select` and `Go Back` fields.

We've already improved this UX aspect qui

[2022-05-09 11:32] Richard-L commented on #545
Wanted to add some more info to this after [@annlyt](https://github.com/annlyt) posted a screen to show TR2M did in fact implement this:

![image](https://user-images.githubusercontent.com/4934209/167394482-328321dd-447a-4902-bc78-639805c7611c.png)

^He's using an XBox controller, which Arsunt chose to support and apparently created icon assets for, as well as custom textures in his setup.

I then

[2022-05-09 15:16] walkawayy opened #546 "Requestor is incorrectly sized at high UI scaling"
When UI scaling is increased, the requestor menu is bugged and displayed off screen. This is due to the removal of low resolution checks in #516. They just need to be added back in.

Screen of 2.0 scaling:
![20220509_111608_Title](https://user-images.githubusercontent.com/81546780/167441579-6a95db9b-2619-4cf9-9217-8177cf04454f.jpg)

[2022-05-09 15:21] walkawayy opened #547 "Bottom of requestor menu border off by one pixel"
The bottom of the requestor menu is off by one pixel. The lines are shifted down by one too many and there is a one pixel line with no darkened background. The bottom left corner connection is also misaligned.

![unknown](https://user-images.githubusercontent.com/81546780/167442518-215c4236-7577-4e20-81af-55db4f0b397e.png)

[2022-05-09 20:50] walkawayy commented on #546
@rr- check here for the bug. High UI scaling uses the lower resolution requestor.

[2022-05-09 21:02] rr- commented on #546
@walkawayy do we want to release it as a hotfix?

[2022-05-09 22:06] walkawayy commented on #546
I don't think it needs to be but I'll leave it up to you.

[2022-05-10 21:05] #546 closed, assigned to walkawayy

[2022-05-10 22:19] walkawayy commented on #547
After some discussion, this will be fixed by matching the Windows 98 style.

![image](https://user-images.githubusercontent.com/81546780/167730842-390977ae-d6b0-495c-83f6-bc24d38f3989.png)

[2022-05-11 14:40] #547 closed, assigned to walkawayy

[2022-05-12 23:07] rr- commented on #542
I can't see the difference in this video?

[2022-05-13 10:10] aredfan commented on #542
The video doesn't really show this very well, but the passport closes and pulls away faster when you select New Game.  I assumed this is a bug because it doesn't happen in TombATI.

[2022-05-13 18:06] walkawayy commented on #542
I think I've noticed this mostly with save game.

[2022-05-13 18:27] rr- opened #553 "Feature request: instant kill cheat"
For TRLE builders. I suggested it after watching Sabatu test The Great Pyramid and having to go through the torso fight again and again. This would be similar to the door open cheat. Alternative implementation: have all guns deal 10000 damage when the cheat is on.

[2022-05-14 08:05] daninthemix opened #556 "Additional cheats"
Any chance of god mode / infinite ammo / one hit kill cheats?

[2022-05-14 08:42] MatthTheGeek opened #557 "Doesn't revert to pistols at new level start"
OG always reverted to pistols as the selected weapon when starting a new level. Tomb1Main keeps the last weapon equipped.

This is a minor issue but does cause a balance issue for speedrun/races between OG / TombATI and Tomb1Main. It is not bad for QoL for casual play tho, so a config toggle might be best.

[2022-05-14 09:40] Richard-L commented on #557
Could you post a screenshot of the title screen with your version in the bottom right corner?

[2022-05-14 11:33] Richard-L commented on #557
Hmm I was sure we'd talked about this one before. Anyhow, it seems there is indeed currently no setting to maintain OG behaviour.

PS1

https://user-images.githubusercontent.com/4934209/168423845-82d47a40-35c3-4b9a-aa4b-c1cb66793de8.mp4

TombATI

https://user-images.githubusercontent.com/4934209/168423850-0383f70b-b6e9-4bf1-abd4-545615c08711.mp4

TR1M

https://user-images.githubusercontent.com/493

[2022-05-14 15:29] walkawayy opened #559 "Incorrect UI scaling"
With higher UI scaling, the text box borders do not increase in size. They remain a constant two pixel size at all scaling levels. Should they increase to possibly 4 pixels at 1.5+scaling and 6 pixels at 2 scaling? There may also need to be a change in the spacing so the borders do not overlap. This is also possibly related to #466.

Here's the highest UI scaling option of 2 and there's still a 2

[2022-05-15 07:53] #521 closed

[2022-05-15 19:11] rr- commented on #556
God mode is guaranteed with the fly cheat
Infinite ammo is accomplished with the item cheat
Instant kills will be handled with #553

[2022-05-15 19:11] #556 closed, assigned to nobody

[2022-05-15 19:13] rr- commented on #557
Is there anyone actually using Tomb1Main for speedrunning / races, or is this ticket strictly hypothetical?

[2022-05-15 19:14] rr- commented on #559
I'd scale everything proportionally, yes, but also have some minimum weights imposed so that scaling the UI by 0.5 doesn't cause 1px line for the left border and no line for the right border (due to mismatching rounding – this is a popular issue in web browsers), for example, or 0 px for both borders (so that the border is gone altogether due to 0.5 getting rounded down to 0).

[2022-05-15 19:36] Rapora9 commented on #556
Sometimes it would be nice to be invincible and still walk, shoot and climb at the same time. However that can be mostly achieved with unlimited medi packs. **I'm not suggesting to reopen this issue**, but I wanted to point out that fly cheat doesn't cover all cases where someone would like to not take any damage.

[2022-05-15 20:03] Rapora9 commented on #553
This is a good cheat. I think the best way to implement the cheat is by setting health to 0 for the enemy who Lara is targeting when the corresponding cheat button is pressed. This way the player (and builders) can for example
- easily decide which enemy they want to be killed
- kill an enemy from a long range
- get a lock to an enemy by shooting it, and then killing it even when behind a wall, in

[2022-05-15 20:08] rr- commented on #556
Thing is we're running out of buttons on the keyboard to cater for each bit, yet alone a controller.

[2022-05-15 23:07] rr- commented on #532
Merged in https://github.com/rr-/Tomb1Main/commit/3ccd892934e41bfb8c42add08f9a070892f0558a

[2022-05-15 23:07] #532 closed

[2022-05-15 23:11] rr- commented on #278
https://wiki.libsdl.org/CategoryGameController

[2022-05-16 06:47] rr- commented on #553
To whoever takes it, please wait until #561 gets merged because it affects the input code significantly and would conflict with this ticket.

[2022-05-18 02:44] walkawayy opened #563 "Lara can't grab pickups at the edge of a room portal"
Lara can't grab this small medipack in Natla's Mines. She goes through the pickup animation but does not grab the pickup.

![image](https://user-images.githubusercontent.com/81546780/168946196-7b12bd82-a662-4bbc-af64-2dc9e89708c1.png)

The pickup code from TR4 sarcophagus (we use in `PickUp_GetAllAtLaraPos`) checks the room number to see if Lara can grab the item.  The game says Lara is in room 23

[2022-05-18 12:26] #279 closed

[2022-05-18 12:26] #513 closed

[2022-05-18 12:29] rr- commented on #479
@Richard-L the original bug was about alt+tab causing Lara to keep jumping even when the window is out of focus.

How do you expect us to recognize at the time the user starts to press alt, if they intend to press enter after, or if they intended to jump?

We can't change the game to react to key releases instead of key presses, as it'd utterly ruin the experience.

This is a separate issue and ne

[2022-05-18 20:42] Richard-L opened #564 "Stop unmapped keybinds having an effect on the game"
_Originally posted by @rr- in https://github.com/rr-/Tomb1Main/issues/479#issuecomment-1129946114_

Keys like `ALT`, which are the default keybind for jumps, will keep having an effect on the game, even if the user has chosen "User Keys" under "Controls", and has not mapped the `ALT` key for anything. It would be nice if only actually mapped keys had an effect on the game.

This is especially noti

[2022-05-18 20:48] Richard-L commented on #479
Yeah it's unfortunate. An easy solution would be to remap the fullscreen toggle to one of the function keys perhaps. But it's not desirable imo to break the `ALT`+`ENTER` convention.

Is the question of keys like `ALT` having an effect regardless of TR1M being in focus or not still relevant? If not, then this can be closed.

[2022-05-18 21:57] rr- commented on #479
I don't think so, this has been long fixed. We'll continue in #564.

[2022-05-18 21:57] #479 closed

[2022-05-18 22:10] rr- commented on #564
My concern here is that if the player chooses to do some silly thing such as rename all the arrows to the same key, they won't be able to revert without closing the game and editing the JSON settings file by hand.

My suggestion - when checking if the player has pressed a button with the given role (e.g. the jump button):
[code]

That way if the player maps up and down keys to the same button, tha

[2022-05-18 22:26] Richard-L commented on #564
I would not allow mapping arrow keys to the same key. It just bricks them, as you say.

I also wouldn't separate inventory from in-game direction keys. OpenLara does this (ie in inventory you always use the standard arrow keys), and it's really quite frustrating imo. If they map to WASD then that's what the game should know as directions. Keeps things simple.

[2022-05-19 01:26] walkawayy commented on #564
I agree with Posix. Just don't let the user map two inputs to the same key and that should prevent issues I think? Also in the worst case scenario, the runtime config file can be deleted to remove the custom keybinds.

[2022-05-19 14:00] Nickelony opened #565 "Feature request: Play Any Level"
Add a global json property like:
[code]
Which would allow the player / level builder to select any available level which is defined in GameFlow.
In TR2 / 3 / 4 and 5, the level selection is in the "New Game" section:
![image](https://user-images.githubusercontent.com/20436882/169311596-7c067ae5-0a28-4308-bbb9-cccee5f2023a.png)

This is a very important feature, especially for level builders, becau

[2022-05-19 16:39] rr- commented on #565
…or they can enable cheats and press <kbd>L</kbd> a few times.
Or they can save the game once in the last level, and use the Select Level function to start the game from any level.

[2022-05-20 07:23] #563 closed, assigned to nobody

[2022-05-23 14:34] fluxtom commented on #542
https://user-images.githubusercontent.com/40272218/169842831-91923791-eaaf-4c63-a6ca-a2eb77bca98f.mp4

Left is load game, right is new game.

I didn't manage to get them to line up frame perfectly, load game has one or two frames of the selection screen, but I'm seeing a faster new game

[2022-05-26 00:23] walkawayy commented on #542
Whoops I actually broke this in #458. At the end of `option_passport.c`, `if (page == 2) {` became `if (page == PASSPORT_PAGE_2) {`. It should be `if (page == PASSPORT_PAGE_3) {`. I confirmed with TombATI that the Exit option on page 3 should be the option that closes the passport from the back. Page 2 with new game / save game should flip back to page 1 and close.

[2022-05-26 17:35] #542 closed, assigned to walkawayy

[2022-05-27 18:08] #523 closed

[2022-05-27 19:54] #278 closed

[2022-05-28 00:53] walkawayy commented on #383
@rr- I thought this would be a quick add, but the gym is marked as complete in `Room_TriggerMusicTrack`. This means, if you try to do the fade there, the game will fade to black then do one extra normal frame of Lara standing. For a test case, I added the fade in `Game_Loop` like so which worked:
[code]
But, this doesn't seem like the best way to handle that. LMK what you think. The gym completion

[2022-05-28 06:32] rr- commented on #383
It's not the best place. I'd prefer to handle this in Game_Loop or Game_Stop.

[2022-05-28 06:35] rr- commented on #383
What if you add `show_stats` to the gym level gameflow and have `show stats` fade out for gym levels?

[2022-05-28 16:37] walkawayy commented on #383
That's a good idea. I know the original didn't have a stats screen, but this is the easiest way to implement the fade without hacking around a bunch of code. Plus it could be useful for custom levels where the Gym level is more like TR2/TR3/TRL/TRA with pickups and stuff.

[2022-05-28 23:27] rr- opened #571 "T1M bug: glitched gym outfit"
Starting the gym, completing it and starting it again causes Lara to wear her regular adventure outfit.
I believe this has to do with 2.9 and Start Info refactors.

@walkawayy could you please take a look?

[2022-05-30 14:44] #571 closed, assigned to walkawayy

[2022-05-30 16:01] walkawayy commented on #564
Potential patches from rr:
[code]
[code]

[2022-05-30 16:03] walkawayy commented on #564
This issue is delayed until controller support is fully merged. Also, we will have to think about the consequences of unbinding default keys. Lastly with controller support, we probably want to support customizable controller layouts. So, this might require an entire Controls menu rewrite.

[2022-05-30 18:14] Jakub768 opened #573 "OG Bug: cannot save if path contains chinese characters"
One user reported that they cannot save their game when the path contains chinese characters,

[2022-05-30 21:49] rr- opened #575 "T1M bug: deaths incremented too eagerly (rare)"
1. Start game
2. Save.
3. Exit to menu.
4. Enter load menu.
5. Navigate to that save.
6. Press  right to go to the select level menu
7. Press escape to go back to the passport pages
8. Press right to go to New Game
9. Start game
10. Die
11. It remembers `g_GameInfo.current_save_slot != -1` from step 6

Effect: the death is incorrectly updated in the saved game

[2022-05-30 21:50] #170 closed

[2022-05-30 22:12] walkawayy opened #577 "T1M bug: dying in the gym with no saves causes a crash"
![image](https://user-images.githubusercontent.com/81546780/171063713-0f26eac7-27ca-473c-8312-ed606f6483e1.png)

[2022-05-30 22:17] #575 closed, assigned to rr-

[2022-05-30 22:17] #577 closed, assigned to rr-

[2022-06-03 16:37] walkawayy opened #579 "T1M bug: centaur hatching crashes the game"
Reported on TRF and I was able to reproduce. Hatching the centaur crashed the game for me on 2.9. This will need a hotfix.

https://www.tombraiderforums.com/showpost.php?p=8358185&postcount=290

I'm guessing it's related to this change in `centaur.c`?
![image](https://user-images.githubusercontent.com/81546780/171908015-32387ecf-c48d-4e00-ab76-3e9ccedda4a9.png)

[2022-06-03 20:28] #579 closed, assigned to nobody

[2022-06-04 09:24] Sabatu322 commented on #573
There are at least five people who reported this. Even though they put my game on the desktop there still must be letters in a path.

[2022-06-04 10:15] oziphantom commented on #573
desktop is part of the user directory so will have characters in it. they need to put it somewhere that is not a "windows directory" such a c:/ or d:/ or c:/games are something like that. no Desktop, pictures, downloads, documents, videos default folders etc

[2022-06-04 10:47] Richard-L commented on #573
I love the fact that Chinese speaking people are playing TR1M 😊

[2022-06-04 16:02] walkawayy opened #581 "T1M Bug: Atlantis levels crashing"
When walking up to this room in Atlantean Stronghold near the beginning of the level, the game crashes. The log does not contain any useful errors. This is new since 2.9 and happens on 2.9.1 as well.

![image](https://user-images.githubusercontent.com/81546780/172014029-e5d412bf-8eb8-43cc-b219-a79beec5f885.png)

[2022-06-04 16:05] walkawayy commented on #581
Did some flying through Atlantis and it also happens in this room before Bacon Lara. I don't think it has anything to do with a trigger since the UB crash wasn't on one. And the pods at the beginning of Atlantis work fine.

![image](https://user-images.githubusercontent.com/81546780/172014423-6b9335b7-5fe1-436e-a5ed-2f4ad532ed3d.png)

[2022-06-04 16:17] Richard-L commented on #581
Since we had the other UB issue with the jump, I'm curious what version of the level files is used here.

[2022-06-04 16:25] walkawayy commented on #581
I think it's related to a rename issue since nothing else should have changed in these levels in the latest update.

[2022-06-05 03:14] bisousmwah opened #582 "The TR1Main doesn't support W7"
Not really much to put in here, but everytime I open the Community Edition's game executable, the game will results in a error of 'App Name' Stopped Working.
And that prevents me to play TR1 Custom Levels (Like the Sabatu TR1) which annoys me.
I would be honored if you made it compatible with older Windows Operating Systems.

[2022-06-05 07:55] Richard-L commented on #582
Have you tried the main game? I'm on Win7 and it runs fine. Could be to do with the custom level perhaps.

[2022-06-05 08:04] bisousmwah commented on #582
Not really, since TR1 Win 7 CD Version gets an error of unsupported OS
bit(Mine is 64Bits).

On Sun, Jun 5, 2022, 2:55 PM posix ***@***.***> wrote:

[2022-06-05 08:57] oziphantom commented on #582
by main game he means run Tomb1Main with just the normal levels and data and not Sabatu's levels.

[2022-06-05 09:31] bisousmwah commented on #582
No, it keeps putting the stopped working like the first comment of mine
said.

On Sun, Jun 5, 2022, 3:58 PM oziphantom ***@***.***> wrote:

[2022-06-05 09:59] oziphantom commented on #582
do you have it in any directory that would have a no standard ASCII character, such that your user name or computer name in downloads, my documents, desktop etc has you username which has any letters that are not a-Z a-z 0-9 no ú etc no Asian/African/Arabian languages or Russian based languages ?

[2022-06-05 11:39] rr- opened #583 "Trigger flip effects don't work if sound devices are disabled"
This is a bit esoteric, but if all sound output devices are disabled in Windows, the lights never turn on at the beginning of Atlantis.

[2022-06-05 11:41] rr- opened #584 "Feature request: installer"
The installer should support the following use cases:

- install from scratch from the Steam
- install from scratch from the GOG version
- install from scratch from a CD drive (CD drive autodetection can be delivered post 2.10)
- install from scratch from the specific directory
- update existing t1m installation

Additionally the user should be able to override the source directory and specify the

[2022-06-05 12:04] oziphantom commented on #583
is this because it is waiting for a sound to end that will never end?

[2022-06-05 12:10] rr- commented on #581
I can't reproduce this issue. In both rooms there is a centaur. Are you sure you're using 2.9.1?

[2022-06-05 13:19] walkawayy commented on #581
My bad. Saw a report on TRF. I was still on 2.9 when I tested. This is the centaur bug which is fixed in 2.9.1. Closing this.

[2022-06-05 13:19] #581 closed, assigned to nobody

[2022-06-05 22:58] Richard-L commented on #584
I could have sworn we had an issue for it from a couple of months ago but I can't find it.

You beat me to it. Just sadly didn't have enough free time to make some UI designs suggestions for this like I'd been meaning to.

I would make the update check automatically upon launcher start, prompt available updates with changelog, and allow to install or skip. A more advanced feature could be somethin

[2022-06-06 09:06] rr- commented on #584
I think we have some confusion here; an installer is not a launcher. Its only task is to extract files from a Steam / GOG / CD / existing T1M installation to a target directory and install T1M over it. Things such as changelogs, automatic updates and a trle browser are not a part of its scope. That's not to say they can't be implemented some other day.

Too much for me, maybe someone else can prov

[2022-06-06 11:36] Richard-L commented on #584
I know most of that is out of scope/too much but I thought it's worth sharing ideas anyway. Launcher/installer, to the end user won't make much of a difference what you call it. Essentially we need an assistant application that enables QoL, as that's the only way to win people beyond who are already here. And even just installing things the right way will be a good step in that direction.

And I f

[2022-06-12 16:09] gamefreq0 opened #585 "T1M bug: Non-triggered centaur causes rendering artifacts"
While playing through the Atlantis level, I did the skip from the clanging spike doors above the lava pit, up to the platform where the boss fight happens in the next level. Upon continuing into the next room, there is a centaur, which, while in it's default deactivated pose, causes Lara to disappear, and nearby rooms to render improperly, when looked at.
![20220612115730_1](https://user-images.gi

[2022-06-16 00:59] rr- commented on #585
Can someone take a look at it?

[2022-06-16 19:13] walkawayy commented on #585
I can look at this.

[2022-06-16 21:26] Richard-L commented on #585
Are they using anti-aliasing as per driver settings? 🤔

[2022-06-17 04:03] walkawayy commented on #585
I don't see any issues on Windows 10. I wasn't sure what Proton-GE was, so I looked it up. Seems like it's a fanmade Proton patch. Maybe that is causing your issues? I would also double check again you are on 2.9.1 and not 2.9. 2.9 is the only version we've seen reports of centaur bugs.

![20220617_000205_Atlantis](https://user-images.githubusercontent.com/81546780/174222439-bf17b20f-7cea-47c6-a4f

[2022-06-18 03:01] gamefreq0 commented on #585
My mistake, it is, in fact, 2.9 I was running. And yes, that fixed the issue. Sorry about that.

[2022-06-18 03:16] #585 closed, assigned to walkawayy

[2022-06-18 06:26] MatthTheGeek commented on #557
In theory I would, I'm in a community that sometimes does TR classic races, we mostly use tombATI and I've quietly been promoting Tomb1Main there.

We're mostly casual so that issue is not considered a big deal, but I thought it would be best to bring it up anyway.

[2022-06-21 01:37] bisousmwah commented on #582
I don't think so, it's the default, DELL-PC / DELL.

On Sun, Jun 5, 2022, 5:00 PM oziphantom ***@***.***> wrote:

[2022-06-21 23:53] #557 closed, assigned to nobody

[2022-06-27 20:33] Goblan opened #587 "Different alpha textures filtering - Feature request"
I wonder if it would be possible to implement a different approach to alpha textures filtering similar to Glidos or TR2, for instance. All filtered sprites in the ATI GLRage version of the game, such as water surface, plants, etc, have this dark, blocky/pixelated contour, as if the pixels that are closest to the transparency wouldn't blend or something. I'm not very good at explaining so here are

[2022-06-28 17:20] walkawayy commented on #587
Hopefully we can add this at some point. I think this is the same as #126?

[2022-06-28 18:45] Goblan commented on #587
I have no technical knowledge whatsoever but it looks like it's the same thing, or totally related, at least.

Nice to hear you'll look into it at some point. Thanks!

[2022-06-28 21:10] Richard-L commented on #587
No it's definitely not the same.

My issue is about transparency. One of the few but in my eyes very meaningful PS1 features TR1M is missing yet.

This issue is about pixel scaling algorithms, which is visible on the edges.

[2022-06-30 21:10] walkawayy commented on #583
Hm `FX_Flicker` seems fine:
[code]

[2022-06-30 22:30] rr- commented on #583
I think it's a music trigger that can't fire and thus prevents other triggers from working?

[2022-07-01 01:20] #517 closed

[2022-07-13 09:56] aredfan commented on #382
Removed.

[2022-07-13 13:21] Richard-L commented on #382
These are quite sweet, but subtitles in-game for gym, random lines in between like "you firin' at me?", cutscenes, are another thing. Personally I believe the gym is the most important moment, as it's the game's tutorial and ideally helps grow interest among new players.

[2022-07-13 13:30] ghost opened #589 "Game stutters for a few seconds when new music loads"
Hello.
I installed TR1 GOG version and then installed this:
https://github.com/Carlmundo/TombRaider-AutomatedFix
With improved FMVs before installing Tomb1Main.
When new music loads the game seems to stutter for a few seconds and then the game is fine.
This happens every time new music loads in.
Not sure if its a bug or something wrong that I did.
I hope there is a solution for this.
BTW I am usin

[2022-07-13 13:54] aredfan commented on #382
Thank you, and I agree with you on the gym being important for helping new players to become familiar with the controls.

Hopefully there will be subtitles for all dialogue game-wise.  I realise this feature probably won't happen for a while but I'm excited to see what the team can do in the future.

[2022-07-14 10:00] #584 closed, assigned to nobody

[2022-07-19 13:08] Richard-L opened #591 "Allow speedrun "buffering" in TR1M"
Explained by @Rapora9 on Discord:

Footi the other day complained it wasn't working in TR1M: https://www.twitch.tv/videos/1531467943?t=03h48m18s

Could be worth considering.

Is it at all to do with the fades?

[2022-07-19 14:00] walkawayy commented on #591
I think changing [this line](https://github.com/rr-/Tomb1Main/blob/1d7b3f992863eb4a2b024c679015d5977f52d7e2/src/game/game/game.c#L73) from `g_InputDB.option` to `g_Input.option` would allow buffering. I was able to do it after that change, but I am no speedrunner expert so that would need additional confirmation.

In any case, do we want to make this change? @rr- might have changed it for a reason

[2022-07-19 15:58] rr- commented on #591
There aren't that many things they expect to be working. Stuff such as sidestep and fixing bump triggers already has config options so I'd say `"enable_inventory_buffering`" it reasonable.

(But only if there is actual legitimate interest to adopt this project by speedrunners)

[2022-07-19 17:55] walkawayy commented on #591
@Richard-L do you know if speedrunners are interested in T1M? I'd think they would be but some people don't like change so who knows lol. I can open a small PR to allow buffering if so. And if there is interest, we would need to get a list from them of what we need to support. AFAIK, most of the key bugs like corner, QWOP, etc have optional fixes, so we might be farther along than we think.

[2022-07-19 18:15] Rapora9 commented on #591
I don't know if speedrunners are interested in T1M but I feel they could be. This project has advantages that are useful for them, like the cheat codes and enemy health bars to make it easier and faster to test things, easy set-ups for challenge runs like no damage, easier way to verify that you've collected and killed everything in max% runs, Japanese mode for new interesting speedrun category if

[2022-07-19 19:59] Richard-L commented on #591
I agree completely with both walkaway and Rapora.

I'm not runner myself but I've enjoyed following some of the streams of the leading runners across TR1-3. There have been quite a few occasions where someone in chat asked how they can get TR1 to look this good (since they have Steam or GOG). The answer has then usually been to google TombATI, as "it gets rid of the Dosbox".
Just this week someone

[2022-07-19 21:35] Richard-L commented on #591
More on-topic: another case of "buffering" or frame stepping is done at hand of the F2 key in TombATI, which essentially halts the game. You can see it exploited for difficult jumps in speedruns here: https://youtu.be/StjS6GfPwOo?t=3067

The player holds F2 to halt the game, adds holding F3, lets go of F2 (=one frame step), adds F2 again, let's go of F3 (=another frame step), and repeat as necessa

[2022-07-21 21:09] #201 closed

[2022-07-26 21:06] walkawayy opened #594 "The revert_to_pistols setting gives Lara guns in the gym"
Setting `revert_to_pistols` to `true` will let Lara equip pistols in the gym. Her outfit is glitched and she fires torsos.

![image](https://user-images.githubusercontent.com/81546780/181112010-fc8a429e-4f48-4e66-82d9-6f0f187ab5ae.png)

[2022-07-26 22:36] #594 closed, assigned to walkawayy

[2022-07-27 00:03] walkawayy commented on #127
Potentially fixed in this build. Trying to clear Lara's LOT values when the current goes inactive.

[T1M Current Fix v1.zip](https://github.com/rr-/Tomb1Main/files/9193964/T1M.Current.Fix.v1.zip)

[2022-07-27 10:31] Wronschien opened #596 "Can't access secret #2"
The way to reach the secret is to position oneself on the very left underneath the opening to the secret, then jump and grab the ledge. With Tomb1Main Lara doesn't grab the ledge, even when holding Ctrl before jumping.
Can something be done about that ?

[2022-07-27 10:45] oziphantom commented on #596
secret #2 as in Level 1.
You need to be in the left most corner, fact the entrance and press forward + Ctrl. Jumping won't get you into the secret. I

[2022-07-27 10:57] Wronschien commented on #596
Thank you !
It's been so long I hadn't played it, I remembered the location but not the little trick of letting her jump automatically.
I'll close the thread then.

[2022-07-27 10:58] #596 closed, assigned to nobody

[2022-07-27 12:02] Richard-L opened #597 "Unify logos and icons"
![image](https://user-images.githubusercontent.com/4934209/181241940-a6bd6edc-868b-45d5-88e7-ae24437523d4.png)
Now that there is a first step towards visual identity, let's make use of it.
Who did the logo in the end btw?

[2022-07-30 10:08] lahm86 opened #599 "Feature request: option to remove ammo in gameflow"
Similar to the `remove_guns` gameflow level sequence type, would it be possible to add a `remove_ammo` option? This would remove all ammo and medipacks from the inventory at the start of the level. It would ideally work alongside `remove_guns` and `give_item`, although I imagine the latter would be reliant on the order of definition in the JSON.

The feature is used in TR2 in Home Sweet Home and i

[2022-07-31 22:40] rr- commented on #599
Sure, I like this idea.

[2022-07-31 22:42] rr- commented on #597
Richard, I already told you in private messages multiple times that the game icon is not going to change for a variety of reasons, including a community vote as well as forward compatibility with projects such as T3M.

Please stop making issues about this.

[2022-07-31 22:42] #597 closed, assigned to nobody

[2022-07-31 22:59] rr- opened #600 "Feature request: autosaves"
#### Rationale
- lots of streamers cussing at the game for saving too long ago. This happens on almost every stream.
- reducing the difficulty. it's convenient in games like Celeste how the characters spawn right after the death.

#### Rough implementation proposal
Save the game every X seconds.

#### Pitfall
Suppose X=10:
- T=0. Game starts / is loaded.
- T=5. Player starts running.
- T=9. Player

[2022-08-01 07:42] oziphantom commented on #600
I don't see how having two and then the last one being loaded. You could die, then load, then end up in a good spot on the second one, then they die, it loads the first one and they die again. If it resets the timer it might work, but I feel that it is limiting the issue rather than avoiding it outright.
When we do death reposition in games, we make some "safe position" rules.
I.e we record the la

[2022-08-01 09:47] lahm86 commented on #599
Great. I'd be happy to have a go at implementing this.

[2022-08-01 11:29] Richard-L commented on #600
Consider quicksave/load instead, as in no passport and nothing, just a frozen frame and an OSD confirmation. Basically a button people can press ahead of most jumps, and another to reload. Almost acts as a quick rewind that way.

OpenLara does this.

[2022-08-01 13:39] VanillaGT opened #602 "Discord integration"
Would it be possible to add Discord integration to Tomb1Main? Like how Tomb4/Tomb5 shows to friends on Discord which level you're on, health status, maybe a picture of the level in question?

[2022-08-01 19:05] walkawayy commented on #602
[Discord Rich Presence SDK](https://discord.com/developers/docs/rich-presence/how-to)

We also need to make sure it can be supported cross platform.

[2022-08-02 18:07] stohrendorf commented on #600
Keep in mind that it somewhat contradicts the original gameplay of being somewhat of a "survival game", i.e. the original game was meant to be "hard" - if you made a mistake, you _felt_ you made a mistake. If you add auto-save, it's making tomb raider a lot less stressful, and basically would make it mostly harmless, as you could load a save automatically made a few seconds ago whenever you make a

[2022-08-02 18:29] lahm86 opened #603 "T1M bug: revert_to_pistols enables pistols despite remove_guns being set"
With `revert_to_pistols` set to `true`, levels that have the `remove_guns` gameflow sequence set still allow Lara to draw and use her pistols. They do not appear in the inventory. This occurs for Natla's Mines as well as for levels that don't normally remove guns (demos below of Mines and Vilcabamba).

https://streamable.com/6ezwx1
https://streamable.com/vyiimd

[2022-08-03 07:14] oziphantom commented on #600
sure if playing the game "for the game" you don't want auto save. However when streaming. Streaming is a lot harder, in Fire Emblem we joke you only have 30% power to play with, hence when you stream you make a lot of stupid moves. This is because focusing on chatting, reading chat, being `entertaining` takes a lot of thought, and remember to open up and save all the time is a lot of effort on top

[2022-08-03 08:09] rr- commented on #600
I agree that this would stray off the OG experience, but as such, it would be optional like most of our features are. And like Ozi said I was mostly thinking about Twitch, where it's a quite common thing to see people getting frustrated with not making a save recently enough (including the chat, not just the streamers).

[2022-08-03 17:43] #603 closed, assigned to walkawayy

[2022-08-03 17:46] rr- commented on #602
@Trxyebeep could you please repaste the reference TOMB4/5 implementation notes from our chat today, in case someone wants to take over it? Thanks.

[2022-08-03 17:49] rr- commented on #599
Thanks, I'd appreciate it. Basically we need to declare a new constant, `GFS_REMOVE_AMMO` / `GFS_REMOVE_MEDPACKS`, and handle it in relevant switch cases inside `gameflow.c`.

[2022-08-04 18:38] lahm86 commented on #599
I have this working but at the same time I think I have unearthed a new issue - I wanted to get your thoughts on the best way to handle it.

I added two new constants (thought it best to keep them separate so there is flexibility) and then added the switch statements to `gameflow.c` (only `GameFlow_InterpretSequence` shown here).

[code]

This works fine, so if you add `remove_ammo` / `remove_medp

[2022-08-05 12:13] rr- commented on #599
I think this could become a separate follow-up ticket to this one.

[2022-08-05 18:26] lahm86 opened #605 "remove_scions in gameflow causes Lara to draw weapons"
If `remove_scions` is in the gameflow without `remove_guns`, Lara will always draw her weapons when the level starts, regardless of whether or not she finished the previous level with them drawn or holstered. This can be reproduced by adding `remove_scions` to any level in the default gameflow, or by removing `remove_guns` from Natla's Mines.

This was found during implementation of #599 - additio

[2022-08-05 18:27] lahm86 commented on #599
I'll hold back on the PR for this issue for the time being.

[2022-08-18 08:33] BlackWolfTR opened #606 "Fix glitches related with trapdoors and bridges"
**1st issue:**
When trapdoor is placed a little bit above the slope and it has dummy trigger on it Lara slides.
Same goes for the bridge objects.
Would be cool if there was an optional option to fix this issue.

https://user-images.githubusercontent.com/111443302/185347808-ed262f21-fb55-41f3-b7fe-b588a07b5042.mp4

**2nd issue**
When Bridge (tilt = 1) and Bridge (tilt = 2) objects are placed 1 sect

[2022-08-18 16:54] rr- commented on #606
Hi, thanks for the report. It's hard to say when this will be worked on but we'd appreciate the level you were testing it on.

[2022-08-18 17:13] Klona13 opened #607 "Save crystals won't save"
When I disable them, the game saves normally.
When enabled:
- I can interact with the save crystal.
- It opens the journal with the "save" page.
- I press ctrl/enter to open the save menu.
- The journal closes and it unpauses the game without saving at all.

Although, it does make a save file when I check the save folder. It's just that I cannot load it.

Also at some point it just crashed when I

[2022-08-18 19:23] Richard-L commented on #606
Out of interest, is this a TRLE-only concern?

[2022-08-18 19:25] Richard-L commented on #486
Had a chat with @walkawayy and we agreed to reopen this. The issue of looping SFX (such as the waterfall above) needing to be muted upon inventory open, is still standing.

EDIT: another example is the Scion's wheeling sound you hear near it before shooting it.

[2022-08-18 23:48] rr- commented on #606
I'm pretty sure that the OG does not feature this kind of geometry which would mean yes.

[2022-08-19 03:19] #486 closed

[2022-08-19 08:26] BlackWolfTR commented on #606
Yes it's mainly TRLE concern.

Here's the file with the level:

[2022-08-19 08:28] BlackWolfTR commented on #606
Yes it's mainly TRLE concern only.

Here's the file with the level:
https://www.mediafire.com/file/nrc9d39v1utswgt/test.phd/file
Just change the name in script ofc.

Do you want the one with the 3rd issue? It crashes only
(sorry for the mess with reopen but I'm pretty new to github and accidentally clicked what I shouldn't, not used to it ;-;)

[2022-08-19 16:57] walkawayy commented on #606
FWIW, here's what Troye had to say on this:

`None of these are fixable. One and two are the same issue, and the third one is a direct misuse of the bridge system, can possibly make it not crash but it’ll never be possible to have 2 bridges in the same sector in 1 room.`

Never say never, but bridges are super hacky in TR games.

[2022-08-19 17:07] walkawayy commented on #605
Are you working on this @lahm86? I could take a look at this at some point if not.

[2022-08-19 18:23] lahm86 commented on #605
Please feel free to take a look - I'm not currently working on this.

I did have an initial try at it but was struggling to track where the gun status was being set, but to be honest I wasn't able to give it much time. I did try splitting `Lara_InitialiseInventory` out as follows, and then calling `Lara_InitialiseInventoryItems` from the gameflow. This seems to work but it feels more like a patch

[2022-08-19 20:01] #418 closed

[2022-08-19 20:20] walkawayy commented on #607
I'll take a look at this. I can definitely reproduce the journal always saving in slot 1 instead of letting the player select a level. I have had no issues loading a level or pressing action to save so far.

[2022-08-19 21:02] lahm86 commented on #605
@walkawayy I've found another issue which I think is related to this - could be something to do with the order in which things are called. Here is an example:

- Lara starts level 1, which has `remove_guns` in the gameflow.
- She picks up the Uzis in this level.
- Lara starts level 2, which also has `remove_guns` in the gameflow.
- Level 2 also has an Uzi weapon pickup but the game changes this to

[2022-08-19 21:04] #127 closed

[2022-08-19 21:09] walkawayy commented on #605
Sure you can post them. I am tackling the save crystals issue atm, so I'll get to this when I have some free time.

[2022-08-19 21:33] lahm86 commented on #605
Here is the example from above.

[GlobalReplaceIssue.zip](https://github.com/rr-/Tomb1Main/files/9385492/GlobalReplaceIssue.zip)

Thanks - appreciate the help with this.

[2022-08-19 21:48] walkawayy commented on #607
@Klona13 try this build. I think it should fix your issues. I couldn't get my game to crash so if it happens again let me know how it broke if you can.

[Save Crystal Fix v1.zip](https://github.com/rr-/Tomb1Main/files/9385539/Save.Crystal.Fix.v1.zip)

[2022-08-20 13:07] Richard-L opened #610 "Dart state not saved"
Looked into darts a bit more @walkawayy and I had been talking about - We noticed their location and smoke puff sprite animation reset upon load.

https://user-images.githubusercontent.com/4934209/185745862-bad29c2d-3a96-4a28-b751-d3141b7e7adb.mp4

^ Here I saved where the dart is right next to Lara, and then starts shooting fresh upon load.

I then looked at a few other cases I thought could be r

[2022-08-20 14:01] walkawayy commented on #605
@rr- is it feasible to reorder the gameflow? If we move `remove_guns` and `remove_scions` to before `start_game` in the gameflow, all we have to do is remove the `Lara_InitialiseInventory(level_num);` calls from their gameflow sequences. Then these gameflow removals will update the `g_GameInfo.current[level_num].got_pistols = 0` and the like before the level is loaded and avoids the `Item_GlobalRe

[2022-08-21 08:48] rr- commented on #605
Yes that's fine for me, @lahm86 wdyt?

[2022-08-21 10:03] lahm86 commented on #605
That sounds good to me if you guys are happy with that. I can make adjustments in the randomizer to make sure we insert these entries before `start_game`.
Does the installer replace the default gameflow file if it already exists? I was just wondering if it would be an issue for people who have customised their gameflow but then the file is replaced on the next release.

[2022-08-21 14:38] walkawayy commented on #605
Just checked the installer and it only overwrites the gameflow file if the overwrite option is checked. So yes this would cause issues if people upgrade without overwriting the gameflow.

![image](https://user-images.githubusercontent.com/81546780/185796406-00a0fce5-5cb7-4dd7-9996-aba07eaf71a3.png)

The only other fix to me looks like it would require reloading the level. Because any weapon pickup

[2022-08-21 16:15] walkawayy opened #611 "Gameflow option remove_guns can prevent weapon pickups"
See #605.

- Lara starts level 1, which has `remove_guns` in the gameflow.
- She picks up the Uzis in this level.
- Lara starts level 2, which also has `remove_guns` in the gameflow.
- Level 2 also has an Uzi weapon pickup but the game changes this to Uzi ammo.

So Lara is left unarmed with no guns to pickup. Again, I think it's one of those things that doesn't affect OG because I don't believe `I

[2022-08-21 16:20] walkawayy commented on #611
If we move `remove_guns` and `remove_scions` to before `start_game` in the gameflow, all we have to do is remove the `Lara_InitialiseInventory(level_num);` calls from their gameflow sequences. Then these gameflow removals will update the `g_GameInfo.current[level_num].got_pistols = 0` and the like before the level is loaded and avoids the `Item_GlobalReplace` issues.

The problem with this solutio

[2022-08-21 18:14] rr- commented on #605
Let's change the GF and also warn people in  the installation notes that this new version requires overwriting the gameflow.

[2022-08-22 16:28] Klona13 commented on #607
It works now :)

[2022-08-22 23:32] walkawayy commented on #599
@lahm86 if rr doesn't mind the approach I took, it should be really simple to add your ammo removal and medipack removal entries to the gameflow similar to guns and scions. See #612.

[2022-08-23 16:19] #605 closed, assigned to walkawayy

[2022-08-23 16:19] #611 closed, assigned to walkawayy

[2022-08-23 16:25] #607 closed, assigned to walkawayy

[2022-08-23 16:29] walkawayy commented on #599
You should be able to work on this now @lahm86 when you have the time. 😃

[2022-08-23 18:13] lahm86 commented on #599
Brilliant, thank you.

[2022-08-23 20:53] #599 closed, assigned to lahm86

[2022-08-27 13:30] Richard-L commented on #610
Had some more exchange with walkaway who made this cool test level: https://cdn.discordapp.com/attachments/811974815672959046/1012519562375336056/unknown.png

His conclusion was it's too hacky to change this, and we thought it probably has little gain.

Guess it's good to have this documented, but closing the issue for now.

[2022-08-27 13:30] #610 closed, assigned to nobody

[2022-08-27 16:06] lahm86 opened #616 "T1M bug: enhanced saves cause triggered flame problem"
The following demo shows a problem in Palace Midas with the fire room. If you save before entering the room (or crossing the pad that turns off the flames), fail the jumps and decide to reload your save, the trigger to put out the flames no longer works.

https://streamable.com/0ifi2x

If you repeat this process with `enable_enhanced_saves` switched off, the issue does not occur.

Found by Nabu190

[2022-09-03 14:53] #559 closed, assigned to oziphantom

[2022-09-03 20:06] #616 closed, assigned to walkawayy

[2022-09-09 16:06] NaBu1908 opened #618 "Highlight newest save when game starts"
It would be nice when I open TR1Main for the first time and game would suggest me (highlight) literally last created savefile just like in TR2/TR2Gold instead of this one that is on the top of Lara's passport. Newest TR1Main can have more number of savefiles than stantard game so if may become an annoying issue if you will have to scroll down to the bottom of save files every time you launch a gam

[2022-09-09 20:28] lahm86 opened #619 "Stacked pushblocks can cause void issue"
If the game is saved when Lara is standing on top of a pushblock, which itself is on top of another pushblock, when that save is reloaded Lara voids. If an earlier save, where she is not standing on the block, is loaded, she can only get on top of the block after it is pushed/pulled. This isn't an issue with single blocks, only when they are stacked.

https://streamable.com/za1zsz

Found by LORDme

[2022-09-09 20:56] lahm86 opened #620 "Some saves can no longer be loaded"
With enhanced saves on, the following issue was found if you save/load at various points through Atlantis. The last save will no longer load. When enhanced saves are off, this issue does not appear.

https://streamable.com/zmlmkb (issue occurs from 02:40)

The following is in Tomb1Main.log

[code]

Save files:
[Saves.zip](https://github.com/rr-/Tomb1Main/files/9538607/Saves.zip)

Found by NaBu1908

[2022-09-10 19:28] lahm86 commented on #619
This seems to be caused by the order of the items as they're defined in the level file. If I switch items 1 and 9 in the level file for Khamoon, the issue doesn't occur. So I think what happens in the original is the top block comes first in the item list, so when the game reloads the save it sets the floor height to 2048. The bottom block comes later in the list, and it adds another 1024 to the h

[2022-09-11 22:49] Richard-L commented on #208
For reference, this technique is interesting, but of course still a manual job https://youtu.be/M-aVt77epQ4

[2022-09-13 14:16] walkawayy commented on #620
So the error happened because I had a `>=` instead of a `>` during the loading process. But looking at what FX were being restored was interesting. Since lava emitters remain active, 98/99 loaded FX were `O_LAVA` which are the little lava particles the lava emitters shoot out. Atlantis has 7 lava emitters and near the end of the level all are active. And they shoot out a good number of particles s

[2022-09-15 11:27] rr- commented on #619
I'd say the latter is the more universal and desirable fix.

[2022-09-15 11:27] rr- commented on #618
@walkawayy can you take a look? Should be easy to fix.

[2022-09-16 19:01] walkawayy opened #623 "Increase number of FX limit"
Continuing the discussion from #621 about raising the current limit of 100 FX.

[2022-09-17 01:56] walkawayy commented on #619
So this happened because the top of the block was near a room portal.

![image](https://user-images.githubusercontent.com/81546780/190836025-3ce92dfa-27a7-498e-90b0-4db0b7bb76b7.png)

![image](https://user-images.githubusercontent.com/81546780/190836027-000adb5a-e038-45de-81c9-cd7dd5dc94de.png)

[2022-09-17 17:12] #620 closed, assigned to walkawayy

[2022-09-17 17:14] #618 closed, assigned to walkawayy

[2022-09-18 01:47] mizunosuisei opened #625 "Feature request: sfx pitch variance"
As far as my memory goes for TR1 on the PS1, ingame sound effects did not vary in pitch on a random basis. (most notable being Lara's vault up onto ledge sound).
It would be cool to have an option to turn this functionality off or on in tomb1main for an even more PS1 feel.

[2022-09-18 01:53] mizunosuisei opened #626 "Long shot feature request: windows fonts"
Absolutely dreaming here I think, hopped off Arsunts potential idea for TR2main. Windows font capability to enable multi language support in game texts, such as japanese and beyond.

[2022-09-20 03:06] walkawayy commented on #626
This might be a duplicate of #386.

[2022-09-20 09:24] Richard-L commented on #626
Didn't we also have an issue for a localisation feature request?

[2022-09-20 09:26] oziphantom commented on #626
The original will have a EFIGS + J support anyway. It would need a custom text page from the J version, but I would expect the EFIGS characters to be in the version we have now.

[2022-09-23 14:09] lahm86 opened #627 "Misaligned bridge in City of Khamoon"
In relation to #523, the flat bridge entity in City of Khamoon (item 82) is incorrectly moved up in position. It seems to be targeted as a bridge that is sitting on a floor (like those in Lost Valley), but in this case there is a room portal below so its position should remain as-is.
This is the only case outside of Lost Valley where a bridge is targeted for repositioning.

![20220923_142440_City_

[2022-09-23 14:10] lahm86 commented on #627
You can assign this to me - I am happy to investigate it.

[2022-09-24 10:07] #627 closed, assigned to lahm86

[2022-09-24 11:48] annlyt commented on #27
https://github.com/skalogryz/larasbraid

This tool injects the mesh into the level files. Might be worth looking into. I've used it personally.

![tombati60FPS 2021-10-03 13-28-29 original](https://user-images.githubusercontent.com/13076939/192096262-4b1f6ab8-8ec5-4076-8d03-c3caf230b4c7.jpg)

Ignore the 1995 TR1 prototype head mesh, that is another thing entirely (tho if it could be injected as an

[2022-09-24 12:24] rr- commented on #27
Thanks, this is a great find.

Notes for whoever's brave enough to take this – for now I'm OK with hardcoding this somewhere in the level loading routines. In the future however, it'd be great to offload this and similar fixes (pyramid secret # fix comes to mind) to LUA or something. As such I think the best course of action is to create a new gameflow sequence that allows injection of new objects

[2022-09-25 20:36] lahm86 opened #629 "Feature request: Always undraw weapon when out of ammo"
If Lara does not have her pistols and uses all of the ammo for whichever other weapon she is currently using, she will fire blanks infinitely. In TR2 and TR3, she puts her weapon away, which feels logical as she realises she doesn't have any ammo left.

This is an issue not seen in the original levels as Lara wouldn't be in a situation where she could pick up a weapon without having her pistols fi

[2022-09-26 06:33] Rapora9 commented on #629
One of the secrets in Natla's Mines has a shotgun so you actually can have all the other weapons (by using that shotgun to kill cowboy and skater) without having pistols in OG.

EDIT:

I tested this in TombATI. I didn't have pistols and picked up the shotgun. After wasting all 76 shells, Lara switches to pistols (??) and starts shooting with them. The pistols don't show up in inventory. I can swit

[2022-09-26 09:17] lahm86 commented on #629
Good point about the secret, I had forgotten about that.

That's also interesting about TombATI. I think this is the piece of code and it just needs an `else` to make Lara unarmed; I guess TombATI perhaps doesn't have this condition and just sets the status to pistols regardless?

https://github.com/rr-/Tomb1Main/blob/develop/src/game/gun/gun_misc.c#L338

[2022-09-26 10:24] lahm86 commented on #629
I've changed it to the following and it seems to work OK.
[code]
Before:
https://streamable.com/a9y7lb

After:
https://streamable.com/6hezsw

[2022-09-26 11:41] Richard-L commented on #629
This should be tested on PS1 too. It's usually more cleaned up with these sort of things.

[2022-09-26 16:35] #629 closed, assigned to lahm86

[2022-09-29 06:09] Lrflx opened #631 "Sounds click and pop if they stop prematurely"
What I mean is, for example, here in level 3

https://youtu.be/byJ5to20C6I?t=1751

when Lara starts cog mechanism game uses sfx which plays and stops several times in a row, and in that automated fix version it works smoothly enough, but in tomb1main it clicks every time it replays. Same thing happens with other sounds as well, like when boulder rolls. I guess there needs to be implemented feature

[2022-09-30 21:19] rr- commented on #631
I would appreciate something looking into this. Oziphantom might have an idea too.

This may be affected by how we need to resample the sounds and the music to the mixer's sample rate.

[2022-09-30 21:33] rr- opened #633 "Config tool"
To my surprise we don't seem to have had logged an issue for this, but that's the goal of 2.11.

In this ticket, we want to improve the user experience around tinkering with the game configuration.

- Merge config JSON and runtime config JSON
- Create a GUI tool to edit the configuration

Technical details:

- GUI uses C# and WPF like our other GUI project, the installer
- We use GitHub Actions to

[2022-09-30 21:39] rr- opened #634 "Feature request: ability to control rendering distance in the config"
Blocked by #633

The rendering distance is currently defined per-level (or with a default for all levels) in the gameflow file. This obviously has benefits for custom level builders, but players who want to play OG should be able to tweak this without having to resort to editing the JSON.

We should retain the ability for the custom level builders to control it on a per-level basis, but at the sam

[2022-09-30 22:34] Richard-L commented on #633
Oh wow, thank you sooooo much @lahm86 🙏

Other than an issue we had these two discussions:

Mainly: https://github.com/rr-/Tomb1Main/discussions/402

Also: https://github.com/rr-/Tomb1Main/discussions/247

[2022-10-01 01:51] #625 closed, assigned to walkawayy

[2022-10-01 20:43] ANoDE85 commented on #154
In case you didn't know, CroftEngine has added support for reflections a few months back. I have no clue about graphics programming, so I don't understand what exactly was done, but it looks like it's using a (relatively simple) shader and a new reflective mesh attribute.

It looks really phenomenal, so I'd love to see something similar come to Tomb1Main.

[2022-10-02 14:17] Richard-L commented on #154
Croftengine is a totally different engine though.

TR1M (at least so far) has been about mimicking vanilla behaviour, or making it accessible on modern hardware.

I think Arsunt has pretty good knowledge about how the "fake" reflections were done for TR1 and 2.

[2022-10-02 15:02] ANoDE85 commented on #154
Fair enough.
Adding reflections exactly like the PS version did surely sounds like a sensible goal for a project trying to stay true to the original.

I'm not sure if most people actually care about how exact the effect is replicated, though.
It stands to consider, that the reflection effect in TR1 was done in a way so the PS1 could handle it easily. These days, even not-so-modern hardware should

[2022-10-04 19:38] FaLiar commented on #564
any progression? i cant play with default settings.... :(

[2022-10-09 10:04] aredfan opened #635 "Feature request: system volume popup"
Hello.  I thought it might be a good idea to mention that there's no system volume popup on Tomb1Main when adjusting or muting the volume.  The same thing happens on TombATI so it's not a T1M-only issue.  The system volume popup is typically visible for all games on Windows.

For example, here's a screenshot from TR2:

![Screenshot](https://user-images.githubusercontent.com/94776985/194750078-a63a

[2022-10-09 11:50] Richard-L commented on #635
The one you're showing is a Win10 overlay. I don't have it on Win7, and not sure about Win8.

[2022-10-13 19:18] walkawayy commented on #564
I'm going to attempt to take a look at this. No promises though ha.

For now I have increased the number of custom schemes from 1 to 3. I also added a `Hold R to reset to defaults` (3 second hold) for the currently selected screen. A visual indication of the holding time would be nice to have for this. I also wasn't sure about what key to use, but I wanted to use a non default key and `R` goes wit

[2022-10-14 10:43] Richard-L commented on #564
Very nice walkaway!

I like your approach to this. If I had the power to produce it, I would:

- leave ESC unassignable and make it always execute "go back".
- hold ESC to **unmap** the selected input.
- Offer only one global "reset to defaults" button underneath the table. (Is it necessary to allow per-input reset-to-default?)

Further on unmapping inputs: I was hoping I could manually delete ind

[2022-10-14 14:25] walkawayy commented on #564
Custom control layouts are stored in: `...\cfg\Tomb1Main_runtime.json5`.

Good point on unmapping individual keybinds. I also need to fit that into the UI.

[2022-10-14 14:29] walkawayy opened #636 "Increase number of custom control schemes"
Currently only one custom control scheme is allowed. Most modern games support more. Also, if the user wants to use a controller to play, that takes up the one custom scheme. More custom schemes would allow a custom keyboard and controller scheme, multiple people sharing a system to have their own scheme, etc.

This is also in preparation for #564 and will require some code refactors.

[2022-10-14 15:20] Richard-L commented on #564
Oh does this correspond to the key mapping?
[code]
Where would I find what row represends what keybind?

[2022-10-15 02:44] walkawayy commented on #564
Have to sort through this list as best I can tell. https://docs.rs/sdl2-sys/0.22.0/x86_64-pc-windows-gnu/sdl2_sys/scancode/index.html?search=

[2022-10-19 13:26] aredfan commented on #468
Closing this ticket because 2.11 fixed the music symbol getting cut off at the top.  Thanks to all involved 👍

![Capture](https://user-images.githubusercontent.com/94776985/196703983-c9077ada-f586-4319-a3a3-84aa8c598fcd.PNG)

[2022-10-19 13:26] #468 closed

[2022-10-19 14:54] walkawayy commented on #633
Done and released in 2.11.

[2022-10-19 14:54] #633 closed, assigned to lahm86

[2022-10-20 01:14] Gerwin2k commented on #582
Old issue, but still open?
Just ran the published release v2.11 on Windows 7 Prof x64. Loaded a few different levels and Unfinished Business. No problems.  All good.

[2022-10-31 19:08] walkawayy opened #643 "Text backgrounds are 1 pixel short on 16:10 monitors"
The darkened text background is 1 pixel short of reaching the text outline as seen on the left in this screenshot.

![image](https://user-images.githubusercontent.com/81546780/199089719-83420c38-bdc6-4be7-b1cf-32baaf99d4d8.png)

[2022-10-31 22:59] #643 closed, assigned to oziphantom

[2022-11-01 14:22] #619 closed, assigned to walkawayy

[2022-11-03 09:29] REF-2021 opened #644 "Launch issue"
Hi! I've installed the latest Tomb1Main, however when I try and launch it, an error message comes up 'Shader compilation failed: ERROR: 0:4: 'layout': syntax error syntax error'. Thanks very much for your help!

[2022-11-03 12:35] Gerwin2k commented on #644
The shader files have a syntax error indeed. They use v330 syntax, but identify as v130.
So it may work better by editing the shader files from 130 to 330, on the first line of the four shader files. (Attached as well)
[shaders_v330.zip](https://github.com/rr-/Tomb1Main/files/9928306/shaders_v330.zip)
Does it work with the attached shader files?

See also issue #327

[2022-11-03 14:13] REF-2021 commented on #644
Thanks! Works perfectly now :)

[2022-11-06 11:31] BlackWolfTR opened #645 "Bonus level option"
Just like in TR2Gold/TR3, if player collects all secrets, the bonus level gets unlocked at the end of the game.
Would be a really nice option for level builders.

[2022-11-08 16:15] walkawayy opened #646 "Holding down select during game exit crashes the game"
Holding the `select` key during `Shell_Shutdown` spins a call to `Input_Update()` in a while loop. I tested holding it after selecting exit game from the passport, and the game got stuck in a black screen and had a Windows crash error. Is there a reason the game does this at all and doesn't just do a shutdown? I checked and this seems like an OG bug (at least a TombATI bug).

[2022-11-08 16:22] Richard-L commented on #646
I believe I heard a few speedrunners mention you mustn't hold a button whilst the level exits or TombATI will crash.

[2022-11-10 23:32] #636 closed, assigned to walkawayy

[2022-11-13 10:54] #543 closed, assigned to nobody

[2022-11-15 00:30] TiagoRocha1989 opened #647 "AMD Overlay not working"
First, thanks for all the hard work, game works flawless, even with a controller.

Only real issue I have, is that I can't record, use AMD's instant reply, or create instant Gif's due to AMD's Overlay simply not working. This is the first time it happens.
When recording, the game is completely ignored and the software just records the desktop.

I was going to try OSB, but since I can't minimize th

[2022-11-15 01:09] walkawayy commented on #647
I think this is related to #635. The game also behaves weirdly with the Windows screenshot tool where it uses an old frame.

Use alt+enter for windowed mode.

[2022-11-15 04:37] TiagoRocha1989 commented on #647
Might actually be the same as [#635](https://github.com/rr-/Tomb1Main/issues/635) .Windows recording tool doesn't work also. Same for AMD overlay to display AMD CPU/GPU usage and temps. Something Tells me MSI Afterburn also wouldn't run...

Thanks for the update, maybe we'll get a fix somewhere in the future :)

[2022-11-15 06:47] Richard-L commented on #647
I've used OSB a lot with T1M. You just need to use the "capture with hotkey" method to force it to pick up the game's window.

[2022-11-18 00:02] walkawayy opened #648 "Compass screen broken at 2x text scaling"
![image](https://user-images.githubusercontent.com/81546780/202585497-03577593-1619-4744-b7cb-c7e69dd821a6.png)

The New Game menu also isn't centered at high scaling:
![20221117_184824_Title](https://user-images.githubusercontent.com/81546780/202584078-94f86984-db0d-44bb-bd3f-e60257eb2b4a.jpg)

[2022-11-18 20:07] walkawayy opened #649 "Add PS1 FMVs as an option to the installer"
The installer could include an option to download the PS1 FMVs instead of the PC FMVs. The PS1 FMVs are higher quality.

[2022-11-21 16:55] OpenRift412 opened #652 "[Bug] Default Keybinds Override User Keybinds"
If a key that already has a default bind is set to something else, the default bind overrides the custom bind. Shouldn't it be the other way around?

[2022-11-21 17:02] walkawayy commented on #652
I'm gonna close this as a duplicate of #564. A controls system rewrite is currently in progress, so this will hopefully be fixed soon.

[2022-11-21 17:02] #652 closed, assigned to nobody

[2022-11-21 21:04] #646 closed, assigned to walkawayy

[2022-11-22 01:51] OpenRift412 commented on #652
Will this rewrite include a sub-menu specifically for controller binds as well?

[2022-11-22 02:08] OpenRift412 opened #653 "Config Tool/Installer Settings Presets"
There's a lot of little technical settings that Tomb1Main has to offer, but it would also be nice to have a sort of preset selector to change lots of settings more easily and conveniently. This could be implemented into both the installer and the configurator.

The presets could be done as follows:
**PC (TombATI)**: Settings that match the behavior of the TombATI port as close as possible.
**PS1-l

[2022-11-22 11:09] Richard-L commented on #653
Yup, I'd also been in favour of this.

Had hoped for speedrun community approved presets too, but alas

[2022-11-23 01:10] walkawayy commented on #652
Yes something will be done to
Make controllers customizable.

[2022-11-30 18:56] #648 closed, assigned to walkawayy